[2020-03-27 14:25] IgnusG opened #1 "Display message from task underneath the task title"
The original listr package displays the message from eg. skip underneath the task name.

Listr2 replaces the title with the message:

![image](https://user-images.githubusercontent.com/6438760/77762694-36525180-703a-11ea-83a2-ec1cf2398a07.png)

This leads to a bit of confusion, since the message is in the middle of task names and feels out of place. I didn't find an option to disable this. Is it p

[2020-03-27 14:29] IgnusG opened #2 "Do not swallow error message when prompt is enabled"
The error message is replaced with ['Cancelled the prompt'](https://github.com/cenk1cenk2/listr2/blob/b517867ec6ff7df6e3a757b932cc139fc35caf7c/src/lib/task.ts#L196-L199) when a task is to be marked as failed by the developer but a prompt was used in it.

![image](https://user-images.githubusercontent.com/6438760/77766084-7962f380-703f-11ea-912f-aef24b01e22f.png)

Maybe there could be a `task.fail`

[2020-03-27 14:42] cenk1cenk2 commented on #1
Yeah i changed that since i wrote my messages as skip messages so i did not really needed the task title anymore. But i can add a flag to configure that behaviour in evening today or tommorrow.

[2020-03-27 14:43] cenk1cenk2 commented on #2
I can add the fail message as an output if desired result is that. Additional to the prompt fail.

[2020-03-27 18:08] cenk1cenk2 commented on #1
![image](https://user-images.githubusercontent.com/26881592/77782680-f0a48180-7057-11ea-94b8-1d03aac2ff02.png)
Is this a viable solution for the render?

The default behavior is still to replace the title since it makes more sense for my application.

It has to be enabled through the option `{ collapseSkips: false }` where `{ collapseSkips: true }` is the default value, for the reason that I tried

[2020-03-27 20:04] cenk1cenk2 commented on #2
It does not swallow error messages in the prompt anymore. This was on my task list, glad it is sorted.

Output after successfully processing the prompt:
![image](https://user-images.githubusercontent.com/26881592/77795748-5d2a7b00-706e-11ea-80a0-03b235e1fac5.png)

[code]

[2020-03-27 20:09] cenk1cenk2 commented on #1
Fixed with [v1.3.5](https://github.com/cenk1cenk2/listr2/releases/tag/v1.3.5), need more testing I did not have the environment for testing at the moment.

[2020-03-27 20:09] #1 closed

[2020-03-27 20:09] cenk1cenk2 commented on #2
Fixed with [v1.3.5](https://github.com/cenk1cenk2/listr2/releases/tag/v1.3.5), need more testing I did not have the environment for testing at the moment.

[2020-03-27 20:09] #2 closed

[2020-03-27 20:19] IgnusG commented on #2
I'll try it out. Thanks a lot @cenk1cenk2! ❤️

[2020-03-27 20:22] IgnusG commented on #1
Thanks a lot for the fix @cenk1cenk2!

[2020-03-27 20:46] IgnusG opened #3 "Exception (`string` and `indent` should be strings in v1.3.5)"
The new version `1.3.5` throws the following error on running:
`'string' and 'indent' should be strings`
<details>
<summary>Stacktrace</summary>
<pre>
/abc/node_modules/indent-string/index.js:6
                throw new TypeError('`string` and `indent` should be strings');
                ^

TypeError: `string` and `indent` should be strings
    at Object.module.exports [as default] (/abc/node_mod

[2020-03-27 20:57] IgnusG commented on #3
Maybe this was just an incomplete `npm install` though. I need to double check

[2020-03-27 21:04] cenk1cenk2 commented on #3
I will try to reproduce. Maybe it is time to write tests.

[2020-03-27 21:16] IgnusG commented on #3
I think it was just an incomplete installation. Cannot reproduce it myself after re-installing <kbd>node_modules</kbd>

[2020-03-27 21:16] #3 closed

[2020-03-27 21:18] cenk1cenk2 commented on #3
Okay then that is cool. As i said i did not had the testing environment and did a quick fix so it can happen.

[2020-03-27 21:31] IgnusG commented on #3
No worries! Wanted to type it out so I don't forget any details just in case :)

[2020-03-30 12:28] IgnusG opened #4 "If subtask in concurrent mode fails, the renderer gets stuck and fails silently"
If a subtask throws an error in concurrent mode the renderer stops animating the rest of the subtasks. No error is printed and listr2 fails silently. Not sure if I have to use `manager.indent` for this to work.

[code]

![listr2-bug](https://user-images.githubusercontent.com/6438760/77911862-d229ca80-7291-11ea-99b4-8e023d6ce46f.gif)

[2020-03-30 12:34] cenk1cenk2 commented on #4
Hmm. Manager indent is just a jumper function that does the same thing without writing to whole thingy, which made things more cleaner for me. So I think they should have the same effect.

I will have a look this evening for this. But I think this issue can also occur from not catching the promise properly.
[code]

[2020-03-30 13:40] IgnusG opened #5 "Add ability to allow custom enquirer editors"
I'm currently using this function inspired by (copied from) the [prompt method](https://github.com/cenk1cenk2/listr2/blob/master/src/lib/task-wrapper.ts#L74-L92):
[code]

With for example the [enquirer-editor](https://www.npmjs.com/package/enquirer-editor) like this:
[code]

This works quite well, I was just wondering, @cenk1cenk2 do you think there's a way to incorporate this into listr2 somehow?

[2020-03-30 13:41] IgnusG commented on #4
I do have the catch at the end in my code. Sorry skipped it for brevity purposes 😅

[2020-03-30 13:45] cenk1cenk2 commented on #5
Do you mean that like an ability to inject custom functions inside the TaskWrapper?

[2020-03-30 14:34] IgnusG commented on #5
Maybe an optional last argument for `prompt` to accept custom [`newPrompt`](https://github.com/cenk1cenk2/listr2/blob/master/src/utils/prompt.ts#L77). [`createPrompt`](https://github.com/cenk1cenk2/listr2/blob/master/src/lib/task-wrapper.ts#L96) could forward it down.

(I've omitted types and replaced some of the existing code with ... in the below snippets)

In [`utils/prompt.ts`](https://github.

[2020-03-30 18:30] cenk1cenk2 commented on #4
@IgnusG Merged and publish with #7. I am having a look at the other issue #5 to inject custom functions. There will be no type checking in my solution but I am thinking something like the one below:

[code]

[2020-03-30 18:31] cenk1cenk2 commented on #5
There will be no type checking in my solution but I am thinking something like the one below:
If you have better ideas please throw one away.

[code]

[2020-03-30 18:32] cenk1cenk2 commented on #4
Will this work for your application?
It will now clean up the render. And mark the rest of the tasks with red. I made my effort to make only the subtasks red instead of the sibling tasks, but I have to change the whole structure to do that, which seems unnecessary.

## Case 1
[code]
### Result
![image](https://user-images.githubusercontent.com/26881592/77930670-7835fe80-72ab-11ea-85bb-546eda86258b

[2020-03-30 18:33] #4 closed

[2020-03-31 18:08] IgnusG commented on #5
Mmm, not sure how this helps in using custom equirer prompts. Could you give me an example with an enquirer plugin when using `extend`?

[2020-03-31 18:16] IgnusG opened #8 "Thank you ♥"
This is a a big **thank you** for your efforts in developing this!

I was struggling to integrate `listr` in my company's publishing pipeline since it required custom inputs and then I came across `listr2`. Simply Awesome! Worked perfectly and the types are a huge bonus too. Not to mention the fast responses with fixing stray issues and bugs, I encountered along the way.

Just wanted to extend my

[2020-03-31 18:27] cenk1cenk2 commented on #5
It is just custom prompts, I see. I got it wrong then. I thought you want to extend it with another function so you can access it through the tasks. I will have a look at this today, and hopefully make enquirer more exposed so that you can extend it with custom prompts, because it is a bit limited at the moment.

I thought that also extending the stdout through function so that it can be used anyt

[2020-03-31 18:30] cenk1cenk2 commented on #8
Thanks for all the kind words.

Since it does not have automated tests because I was lazy at the time, it was not easy to foresee the issues. Happy to make things a bit easier at work, it is always a thing that can make anyone happy.

[2020-03-31 20:47] cenk1cenk2 commented on #5
So this seems like a good enough solution for me what do you think?

You pass the class of the EditorPrompt directly to the type section and pass the options in the same way.

[code]

[2020-03-31 20:53] cenk1cenk2 commented on #5
I merged it with [v.1.3.7](https://github.com/cenk1cenk2/listr2/releases/tag/v1.3.7). But just tested basic functionality with the `example.ts` again, needs more testing.

[2020-03-31 20:53] #5 closed

[2020-03-31 20:56] #8 closed

[2020-04-24 12:03] iiroj opened #10 "Testing console output"
Hello,

we're in the process of migrating [lint-staged](https://github.com/okonet/lint-staged/) to Listr2, but I have some question regarding test output assertion.

The orginal Listr's verbose renderer printed `[started]` and `[completed]` strings, while Listr2 uses fancy symbols like `❯` and `✔`. These symbols are different on each platform, though, so testing in a CI environment is a bit diffic

[2020-04-24 13:00] cenk1cenk2 commented on #10
That is a easy fix I will add the test renderer as default.

[2020-04-24 13:30] cenk1cenk2 commented on #10
![image](https://user-images.githubusercontent.com/26881592/80217266-b373e500-863f-11ea-8e37-662c72fdd0e6.png)
Something in the ballpark of this hopefully does it. I will also add tests here when I have free time but been lazy lately.

To call the test renderer set the renderer to test.
[code]

I will merge after I perform usual manual tests.

[2020-04-24 13:30] iiroj commented on #10
If it’s configurable I can also set `renderer: ’test’` during setup.

[2020-04-24 13:46] cenk1cenk2 commented on #10
Added a test renderer with #11, published with version 1.3.8.

Take a look at [Logger](https://github.com/cenk1cenk2/listr2/blob/master/src/utils/logger.ts) and [Test Renderer](https://github.com/cenk1cenk2/listr2/blob/master/src/renderer/test.renderer.ts) for expected outputs on the given occasion. But they are all text-based now. I will also add automated tests hopefully soon.

As mentioned you

[2020-04-24 13:52] cenk1cenk2 commented on #10
For any more issues, I kindly ask you to please open up a new issue, hopefully I was helpful! Have a nice day.

[2020-04-24 13:52] #10 closed

[2020-04-24 15:19] iiroj commented on #10
Thanks, seems to be just what we need! I'll also use the test renderer when `TERM=dumb` just in case those don't support the fancy glyphs.

[2020-04-28 08:35] cenk1cenk2 commented on #10
What you can also do is to set fallback renderer to test instead of the verbose by passing in `{ nonTTYRenderer: 'test' }` since it should automatically detect non-tty environment.

[2020-05-05 16:55] cenk1cenk2 opened #18 "Isolate renderer options."
Isolate renderer options.

@cenk1cenk2 I want to extract the rendering options to their own key as well. Shortly after I did it like it is now, I already had regret that I did it this way. So that would definitely be an improvement.

_Originally posted by @SamVerschueren in https://github.com/SamVerschueren/listr/issues/143#issuecomment-623094930_

[2020-05-05 16:56] cenk1cenk2 opened #19 "Update readme."

[2020-05-06 14:53] cenk1cenk2 commented on #19
Closed with #21

[2020-05-06 14:53] #19 closed

[2020-05-06 14:53] cenk1cenk2 commented on #18
Closed with #21

[2020-05-06 14:53] #18 closed

[2020-05-06 14:56] cenk1cenk2 commented on #19
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/2.0.0)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-06 14:56] cenk1cenk2 commented on #18
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/2.0.0)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-06 15:01] cenk1cenk2 commented on #10
@iiroj I kindly wanted to inform you about the upcoming changes beforehand.

For further updates with Listr2 there had to be breaking changes how the renderer options get passed in, I just wanted to go ahead and kindly inform you about the breaking changes that were discussed on the original repository by SamVerschueren in _Originally posted by @SamVerschueren in https://github.com/SamVerschueren/

[2020-05-06 15:12] cenk1cenk2 opened #22 "Manager Run Types"
Run types are not proper.

[2020-05-06 15:46] iiroj commented on #10
@cenk1cenk2 thanks for the info! I'll see about migrating to it. Since I already moved the error collecting out of the old behaviour of listr before this, does this affect lint-staged? It was a good change to do in lint-staged IMO since it streamlined the collection of task output (other than errors).

I assume I will have to at least change the `errors` key to something else in the context. Right

[2020-05-06 15:52] iiroj commented on #10
Sorry to ask an otherwise unrelated question, but does the inclusion of `cli-truncate` mean that the task name will always be on a single line? Lint-staged currently shortens function task names until the first space in the command string `[Function] eslint ...`, but this might allow us to skip the truncating and just pass the entire string as the name. This can be _really_ long, since it potentia

[2020-05-06 16:56] cenk1cenk2 commented on #10
I think it should not cause any problems for the errors because error collection is done out of the context. So after the task has been run, you shoud  access the errors via `task.err`. As a result if this way works much better for you, I think no refactoring is needed.

[code]

If your cli-truncate action relies on `process.stdout.columns` as well it will more or less do the same basic thing util

[2020-05-06 23:41] #22 closed

[2020-05-06 23:43] cenk1cenk2 commented on #22
:tada: This issue has been resolved in version 2.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/2.0.1)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v2.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-12 00:07] petrov-serg opened #24 "ListrRenderer and ListrTaskObject are not imported"
'Custom Renderers' documentations says that user have to do following:
[code]

but actual result is:

[code]

Can you fix it, please? It will allow users to create custom loggers and etc.

[2020-05-12 08:56] cenk1cenk2 commented on #24
I have not thought about this for JavaScript but you can also achieve it as follows.
**Typescript version**
[code]
**JavaScript version**
[code]

The autocomplete will work even though it will not extend the ListrRenderer. It is at the moment as `declare class` instead of `class` and since that is the case it can not be extended via JavaScript.

If this solution resolves your case, please close th

[2020-05-12 20:11] #24 closed

[2020-05-18 15:27] IgnusG opened #25 "No valid exports for `listr2/node_modules/uuid`"
Running lint-staged (using listr2 2.0.1 https://github.com/okonet/lint-staged/blob/master/package.json#L41) fails when running with the following stack:
[code]

I've tried removing `node_modules` and package-lock and re-installing but no luck 😔

[2020-05-18 15:35] IgnusG commented on #25
@cenk1cenk2 Any Idea what could be going wrong?

My node version is locked at v13.3.0

lint-staged is latest [10.2.3](https://github.com/okonet/lint-staged/releases/tag/v10.2.3)
husky is latest [4.2.5](https://github.com/typicode/husky/releases/tag/v4.2.5)

[2020-05-18 15:53] cenk1cenk2 commented on #25
There seems to be a similar problem in another library:
https://github.com/strongloop/loopback-next/issues/5381

I will roll back to the previous version of UUID, let us see if that fixes it.

[2020-05-18 16:02] #25 closed

[2020-05-18 16:03] cenk1cenk2 commented on #25
:tada: This issue has been resolved in version 2.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/2.0.2)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v2.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-18 16:04] cenk1cenk2 commented on #25
Hope rollback to the prior version solves this issue because this was not really an issue in prior versions. I can not also seem to recreate it with node13, that is the interesting part. But "uuid" is only used to generate random task ids, so I can swap it for anything else if the issue persists.

[2020-05-18 16:06] cenk1cenk2 commented on #25
This is the base issue:
https://github.com/uuidjs/uuid/issues/428

[2020-05-18 16:43] iiroj commented on #25
@cenk1cenk2 The package nanoid is a pretty popular option, especially if the id doesn't have to be an official UUID: https://github.com/ai/nanoid

[2020-05-18 16:47] cenk1cenk2 commented on #25
I can replace that because uuid is a bit overkill. Just had to create some random ideas even math.random should have worked but while initially integrated it i just used that it stayed like it.

[2020-05-19 11:17] cenk1cenk2 commented on #24
I have added the Listr base class to extend but accessing `tasks` and `options` objects are not possible due to their Typescript nature. Will also push this with next update.

[code]

[2020-05-20 04:32] iiroj opened #28 "No valid exports main found for 'listr2/node_modules/nanoid'"
It was reported in https://github.com/okonet/lint-staged/issues/870 that using Node.js version **13.6.0** listr2 fails to a nanoid import. The issue affects lint-staged because of the semver range allowing `listr@2.0.3` to be installed. I assume this error is similar to https://github.com/cenk1cenk2/listr2/issues/25

[2020-05-20 06:18] iiroj commented on #28
I wonder if https://github.com/ai/nanoid/issues/205 is related.

[2020-05-20 06:26] iiroj commented on #28
I think what would be good for `listr2` is to go through its dependencies engines declarations, and match the Node.js requirement.

For example, nanoid currently declares Node.js versions `^10 || ^12 || >=13.7`, which would imply the same requirements for listr2 as well.

[2020-05-20 07:42] cenk1cenk2 commented on #28
This problen with random id generation is interesting. I do not want to limit node version with a trivial dependency as this maybe it should be best to go back to working version of ^7 of uuid

[2020-05-20 07:43] cenk1cenk2 commented on #28
And will add 13.6 to tests implicitly to catch this error. Might be the best workaround.

[2020-05-20 07:57] #28 closed

[2020-05-20 07:59] cenk1cenk2 commented on #28
:tada: This issue has been resolved in version 2.0.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/2.0.4)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v2.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-20 11:00] a2chan opened #30 "Task status symbols abruptly cut-off"
![image](https://user-images.githubusercontent.com/46082775/82438632-fac28980-9ab6-11ea-8971-a62274e782cb.png)

Font: Ubuntu Mono
Terminal: zsh
ZSH theme: Spaceship

They work perfectly well with DejaVu Sans Mono but not with any other Mono fonts.

[2020-05-20 14:18] cenk1cenk2 commented on #30
Hmm that might be due to the charachter width limitation. I do not know how to fix that, since it is using an external library to provide the symbols. But I will take a look in the longer run.

[2020-05-20 18:01] a2chan commented on #30
Yes, v10.2.4.

[2020-05-24 04:29] vinodhum opened #31 "How to use it with Ink"
How can I use this with  [Ink](https://github.com/vadimdemedes/ink#readme) ?
and when running on git bash, spinner is showing only line, it not showing rotating dots link in demo, and symbols are very small, is there a way to customize it ?

[2020-05-24 12:19] cenk1cenk2 commented on #31
By default it fallback to more uglier symbols for Windows. Thats the nature of utilized packages. Until Windows Terminal or some other customizable terminals like ConEmu or Hyper.js, it was not reliable to show symbols in Windows Terminals.

For using it with this with Ink since which also utilizes a terminal clean up renderer you have to pass it through this renderer in something like prompt func

[2020-05-25 11:17] cenk1cenk2 commented on #31
I have given this a thorough try. Since I wanted to pass Ink as an output of the task.

The renderer utilizes an interval to refresh the tasks, and this INK or any other library that uses stdout utilizes ANSI escape sequences to clear out the screen, these escape sequences might be outputted more than one time depending on their rate of refresh compared to the render interval. This causes the to c

[2020-05-25 19:43] cenk1cenk2 commented on #31
:tada: This issue has been resolved in version 2.1.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/listr2/v/2.1.0-beta.1)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v2.1.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-25 19:44] cenk1cenk2 commented on #30
I am going to close this for now, if it is okay with you. But it will be back of my mind even though I think this might be caused by the terminal character width.

[2020-05-25 19:44] #30 closed

[2020-05-25 19:49] cenk1cenk2 commented on #31
Please give this a try with the latest beta channel which resides [here](https://github.com/cenk1cenk2/listr2/tree/beta).

 The section you are interested about passing the stdout through listr is [here](https://github.com/cenk1cenk2/listr2/tree/beta#passing-the-output-through-as-a-stream). It is by no means perfect, but it was the least I can do without creating a sandboxed terminal in the output

[2020-05-25 19:49] #31 closed

[2020-06-02 08:59] MatissJanis opened #34 "Enquirer multi-step prompts"
Awesome work on bringing old listr back to life!

One small nuance that is pretty annoying though: currently listr2 does not have support for multi-step enquirer prompts. It would be amazing, if this feature could be added.

[code]

[2020-06-02 10:04] cenk1cenk2 commented on #34
I will have a look. It should be related to the problems with the types. Default types of enquirer was not working correctly for me so i kind of rewrite the parts i required which are not correct at all.

[2020-06-02 10:53] cenk1cenk2 commented on #34
It seems I can make this work somehow with making both of the `task.prompt` thingies an array but it will lose the autocomplete functionality. This `task.prompt` is a jumper function that calls whatever you select in the first argument without using the `type` in `enquirer`. I do not know why but the `type` was causing problems for me which I forgot already, so I made it this way.

[code]

The thi

[2020-06-02 12:05] MatissJanis commented on #34
Thanks for the super-quick response!

The above solution does indeed work for simple multi-step flows, but not for more advanced cases. For example, if using `skip` of enquirer.

Is there any particular reason that enquirer interface was changed? It would be very nice it we could use enquirer directly, without a gateway in this package.

[2020-06-02 12:28] cenk1cenk2 commented on #34
Since `process.stdout` is controlled by the package `log-update` for the default renderer, all packages that uses the stdout stream has to get passed through internally as data or it will mangle the `log-update` output. The problem that I encountered which I still fail to remember is while using `enquirer`s exported types directly there were some mistakes in the types so I had adjusted them a litt

[2020-06-02 17:33] cenk1cenk2 commented on #34
Please check out the [beta channel](https://github.com/cenk1cenk2/listr2/tree/beta#get-user-input), installable by listr2@beta, this required some internal changes and due to it the way of requesting input from the user has changed a little.

Enquirer is now an optional dependency as well because I wanted to do that for quite some time. You should also explicitly install Enquirer to make this work

[2020-06-03 10:55] MatissJanis commented on #34
Hey!

Just tested the beta channel. Enquirer arrays now work, which is very nice. However, there's some functionality that we have lost.

Given this prompt definition, the `skip` step will receive `answers = "A"` (a string) rather than an object as described in Enquirer docs.
[code]

Additionally, if `validate` step is provided, the listr prompt seems to hang-up.

[2020-06-03 11:16] MatissJanis opened #37 "Execa streamed output support"
Hey!

It would be very nice if listr2 would also have enquirer support just as the first version did. Currently it's possible to execute async commands and wait for them to complete, however **streaming the output** from them does not seem to be possible.

Example:
[code]

The command will execute successfully, however the output will not be streamed. I tried a bunch of different variations as wel

[2020-06-03 11:35] cenk1cenk2 commented on #34
Validate seems to work for me like the one below. But skip does not pass in the results before it for me as well. But enquirer does not pass in the variable for skip I am not sure to have to check enquirer first.

[code]

[2020-06-03 11:36] cenk1cenk2 commented on #37
I will have a look at this early tomorrow afternoon. I think it is time to expand the tests.

[2020-06-03 12:07] cenk1cenk2 commented on #34
This might be a problem with enquirer itself. I think you can get along with it separating multiple prompts to multiple listr tasks. It might not be the perfect code below but something along those lines.

[code]

[2020-06-03 12:35] MatissJanis commented on #34
Hey,

Yeah, currently I've separated the prompt tasks in individual listr steps. It's not ideal.. but works for now.

Judging from Enquirer [type definitions](https://github.com/enquirer/enquirer/blob/62f19ebfd14a4baeda4f9ed6c25770a18e9a5671/index.d.ts#L11), the `skip` method should have received an object. It's interesting that it doesn't.

[2020-06-03 12:43] cenk1cenk2 commented on #34
I might open a pull request to enquirer in upcoming days. I will close this issue again for now.

[2020-06-03 12:43] #34 closed

[2020-06-03 12:45] cenk1cenk2 commented on #37
You might redirect the stdout of execa using task.stdout. i am not sure if execa.command returns a promise or a stream. But i will anyway rewrite the stream to output conversion.

[2020-06-03 13:08] MatissJanis commented on #37
Piping to `task.stdout` works in terms of sending the output to listr, however then the problem is that any subsequent step is executed prior to the task finishing.

This might, however, be an `execa` issue. I ported some tasks to `shelljs` and it works.. not great, but much better. Provides the output and waits for the task to finish before proceeding.

[code]

[2020-06-03 22:57] cenk1cenk2 commented on #37
:tada: This issue has been resolved in version 2.1.0-beta.6 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/listr2/v/2.1.0-beta.6)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v2.1.0-beta.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-03 23:00] #37 closed

[2020-06-03 23:10] cenk1cenk2 commented on #37
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/2.1.0)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-03 23:10] cenk1cenk2 commented on #34
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/2.1.0)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-03 23:10] cenk1cenk2 commented on #31
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/2.1.0)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-21 19:33] cenk1cenk2 opened #57 "[renovate-bot] Update Dependencies"
This issue contains a list of Renovate updates and their statuses.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to ignore the schedule.
 - [ ] chore(deps): update all slow ring @weekly [skip ci] (`@types/jest`, `@types/node`)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): l

[2020-07-22 03:33] innocenzi opened #66 "Testing prompts"
Hello.

I am trying since a while to determine how I am supposed to create tests for the prompts. Using `Enquirer` directly, I can use its events, but using `Listr`, I don't have access to the underlying `Enquirer` object.

Is there currently any way to test prompts? Thanks!

**EDIT** - I think the ability to pass an instance of `Enquirer`, the same as `logger`, to a `Listr` object, would solve th

[2020-07-22 09:58] cenk1cenk2 commented on #66
Hi Mr. Innocenzi,

I think that idea is feasible and doable. I will have a look at that this weekend because at last, I was also planning to add tests for renderers. I was planning to that with [jest-mock-process](https://github.com/EpicEric/jest-mock-process). Maybe that can be the answer since you can manipulate stdout as well as stdin. But you are right, unfortunately, at the moment there is no

[2020-07-22 10:10] innocenzi commented on #66
Hi, thank you for your answer! I look forward to a change in that direction. Let me know if I can be of any help.

[2020-07-22 12:49] cenk1cenk2 opened #67 "Does not catch the error message from prompts."
No error message from the prompts are catched.

[2020-07-22 13:32] cenk1cenk2 opened #68 "add fallback condition to fallback renderer as an option"

[2020-07-22 16:03] cenk1cenk2 commented on #66
Can you try the latest beta from `listr2@beta`. I was also writing something basing this as a dependency had to do some minor fixes, so hopefully added your functionality before weekend as well, weeee.

[2020-07-22 16:04] cenk1cenk2 commented on #66
:tada: This issue has been resolved in version 2.3.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/listr2/v/2.3.0-beta.1)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v2.3.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-22 16:04] cenk1cenk2 commented on #67
:tada: This issue has been resolved in version 2.3.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/listr2/v/2.3.0-beta.1)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v2.3.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-22 16:04] cenk1cenk2 commented on #68
:tada: This issue has been resolved in version 2.3.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/listr2/v/2.3.0-beta.1)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v2.3.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-22 16:05] #67 closed

[2020-07-22 16:05] #68 closed

[2020-07-22 16:05] #66 closed

[2020-07-22 16:09] innocenzi commented on #66
You went fast! And it looks good, I'll take a look tomorrow. Thank you!

[2020-07-22 23:39] cenk1cenk2 commented on #66
:tada: This issue has been resolved in version 2.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/2.3.0)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v2.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-22 23:39] cenk1cenk2 commented on #67
:tada: This issue has been resolved in version 2.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/2.3.0)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v2.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-22 23:39] cenk1cenk2 commented on #68
:tada: This issue has been resolved in version 2.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/2.3.0)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v2.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-24 07:39] renovate[bot] opened #82 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] fix(deps): update dependency colorette to ^2.0.19

## Open

These updates have all been created already. Click a checkbox below to force a retry

[2020-07-24 07:39] #57 closed

[2020-08-12 15:14] AJHenry opened #137 "Output not preserved on error"
When using the default renderer, and the following options

Renderer options:

[code]

Task options:

[code]

When an error is throw by a task, the output that it previously posted to the bottom bar is cleared, even though output from previous successful tasks are preserved.

Is there a way to preserve output even if an error is thrown?
If not, perhaps a task option for `preserveOutputOnError` can

[2020-08-12 15:57] cenk1cenk2 commented on #137
Yes there should be. I think i can obtain that behavior with moving some rendering conditions around. I will have to check and return back to you. Eta will be this weekend possibly.

[2020-08-12 16:20] AJHenry commented on #137
Cool, I'll try and take a crack at it tonight and if I can't get it I'll refer it to you

[2020-08-12 23:23] AJHenry commented on #137
I was able to fix the issue, however if we change the logic to print out on errors, it will be a breaking change. Did you want to go the path of changing the default behavior of `persistentOutput` to _also_ print when a stage errors?

Or do you want to keep the current behavior and create a new flag like `persistentErrorOutput` to avoid a breaking change?

[2020-08-12 23:24] cenk1cenk2 commented on #137
I would definetly prefer a renderer flag without a breaking change.

[2020-08-13 16:07] cenk1cenk2 commented on #137
Closing this issue since it is merged on beta channel for now for the reasons explained [here](https://github.com/cenk1cenk2/listr2/pull/138#issuecomment-673565781).

https://github.com/cenk1cenk2/listr2/tree/beta

[2020-08-13 16:07] #137 closed

[2020-08-13 16:08] cenk1cenk2 commented on #137
:tada: This issue has been resolved in version 2.5.2-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/listr2/v/2.5.2-beta.1)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v2.5.2-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-16 13:28] Shriram-Balaji opened #141 "Question: Is there a way to modify a task's title after all the subtasks have completed successfully"
I'm currently using Listr2 to run a set of subtasks, and I wanted to know if there's a way to change the title of the parent, on succesful completion. For eg. in the snippet below, I'd like to change `Uploading` to `Uploaded` once all the subtasks are done.

[code]

I'm not sure if I'm missing something here, but since `task.newListr` returns a `Listr` object, and not a `Promise`, I cannot update

[2020-08-16 14:40] cenk1cenk2 commented on #141
Yes, there should be. Since the task is a stateful class, if you convert the `uploadTasks` to a function that returns a an array of ListrTask objects and pass in the task as a variable like `parentTask`, I am sure that you can achieve that with adding a ghost task without a title at the end that manipulates the `parentTask.title`.

[2020-08-16 15:34] #141 closed

[2020-08-16 15:36] cenk1cenk2 commented on #141
:tada: This issue has been resolved in version 2.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/2.6.0)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v2.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-16 15:36] cenk1cenk2 commented on #137
:tada: This issue has been resolved in version 2.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/2.6.0)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v2.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-16 15:38] cenk1cenk2 commented on #141
You can access the readme section from: https://github.com/cenk1cenk2/listr2#access-parent-task-from-subtasks

Hope this resolves your question. You can now change the parent task title without any trickery even though rest of the functionality like skipping it is mostly useless.

[2020-08-17 06:00] Shriram-Balaji commented on #141
@cenk1cenk2 thanks a lot for adding a built-in way to do this, and addressing this request very quickly! 😄

Quick question though, I have added a ghost task to modify the parent title in the end, but is this guaranteed to work after the other subtasks have complement when in `concurrent` mode?

[2020-08-17 08:26] cenk1cenk2 commented on #141
If its running concurrent no. But you can do two sets of subtasks maybe. Hmm so it might not be the perfect solution.

[2020-08-17 08:28] cenk1cenk2 commented on #141
Idk maybe we can add a callback function to run it after it but it would be the old way of doing things.

[2020-08-27 11:23] Sharrison2 opened #154 "v2.6.0 is missing from https://replicate.npmjs.com/listr2"
The latest version 2.6.0 of listr2 is not being replicated in npm - https://replicate.npmjs.com/listr2.   It shows the latest version as 2.5.1.  I just thought you should know

I have raised this with npm support but so far they all they have said is it can take a few hours to replicate, but this was published 11 days ago and counting

Since I am mirroring npm from replicate.npmjs.com, build proce

[2020-08-27 17:37] cenk1cenk2 commented on #154
Okay i will republish it and hopefully this will be solved.

[2020-08-27 17:46] cenk1cenk2 commented on #154
I kindly request you to try it again with v2.6.1 since I have failed to do so on mobile and close this issue if resolved.

[2020-08-27 17:55] Sharrison2 commented on #154
Thanks.  Replicated now has all the versions

[2020-08-27 17:55] #154 closed

[2020-08-31 12:39] muuvmuuv opened #162 "task prompt function type does not contain previous prompt"
I am trying to do a row of prompts and want one prompt to be skipped or of type text. The simplest solution for this is to use an if-statement with a previous prompt's response value, but the ctx does not contain the previous just the current prompt.

[code]

[2020-08-31 13:22] cenk1cenk2 commented on #162
Input module uses [enquirer](https://www.npmjs.com/package/enquirer), which you can utilize its own options through seeing examples [here](https://github.com/cenk1cenk2/listr2#get-user-input), albeit not all the types might be correct for it since I had to rewrote them to utilize it.

If you want to utilize another package you have to utilize the [stdout passthrough](https://github.com/cenk1cenk2/

[2020-08-31 13:27] muuvmuuv commented on #162
I also noticed that it uses enquirer, thought I read prompts somewhere. Fixed that and split them into separate tasks which worked. No need to utilize another prompt package. Looking forwards for connected multi prompts in the future.

[2020-08-31 13:45] cenk1cenk2 commented on #162
Hmm. I am sorry if i understand your question wrong. But it should in theory support all the functionality of enquirer eventhough the types might be wrong. So if using typescript you might need to add ts-ignore and i can fix the types on an open issue. I can also add this package later on and create a flag to select the prompt package since it also seems cool.

Hope you have fun with your project.

[2020-08-31 13:45] #162 closed

[2020-09-03 02:06] chet-manley opened #163 "[Regression] Promise rejections are handled, but task is removed from list"
# Current Behavior

In Listr, rejected promises and thrown errors are displayed in the list, but they remain uncaught. Listr2 appears to have fixed the issue by handling errors; however, tasks that return a rejected promise are removed from the task list, and thrown errors overwrite the task title.
[This example on Repl.it](https://repl.it/repls/CanineNimbleAssociate#index.js) demonstrates the des

[2020-09-03 08:56] cenk1cenk2 commented on #163
There is a flag like collapse skips. Maybe a collapse errors can replicate the behaviour?

[2020-09-03 14:13] chet-manley commented on #163
After dealing with the disappearing tasks issue, I would agree that `collapseErrors` is useful functionality, and a first step in the right direction. However, the proposed functionality of `overwriteTitles` remains imperative, and should be placed in the `rendererOptions` scope. For _every single task I need to skip_, I am currently required to include the following code block just to prevent my

[2020-09-03 14:19] cenk1cenk2 commented on #163
I am on mobile and I can not try it at the moment but if you use collapseSkips: false and send a empty string as skip message I think that it would not overwrite the current message but just append [skipped] as suffix to the title. But i can fix that by making the skip message optional. Therefore eventhough the overwriting titles is the default it would just be an opt-in feature. Maybe can be the

[2020-09-04 15:53] cenk1cenk2 commented on #163
Similar to `collapseSkips`, I have more options added like it where you can:
- Disable adding `[SKIPPED]` to skipped tasks with `suffixSkips` in the default renderer.
- Disable showing skip message with `showSkipMessage` where the task title will be shown even though skip has a message.
- If you send an empty `task.skip()`, it will use the task title.
- Disable showing the error message with `show

[2020-09-04 22:02] cenk1cenk2 commented on #163
:tada: This issue has been resolved in version 3.0.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/listr2/v/3.0.0-beta.1)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v3.0.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-04 22:03] cenk1cenk2 commented on #163
Can you please test this out on 3.0.0-beta.1 by `listr2@beta` and inform me if it works better for you.

[2020-09-04 22:05] cenk1cenk2 commented on #163
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/3.0.0)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-05 17:42] chet-manley commented on #163
I was going to raise an issue for that. Glad it is already being addressed.

I did some testing with the new beta, and it does appear to fix the original issue regarding errored tasks being removed from the list, as well as the other concerns I raised. However, my testing revealed some new/different issues. My [Repl.it](https://repl.it/repls/CanineNimbleAssociate#index.js) has been updated to demo

[2020-09-05 18:21] cenk1cenk2 commented on #163
Yeah that is true showErrorMessage or showSkipMessage with collapseErrors collapseSkips is bit a counter intuative I have not thought about it since I did not intend them to be used together. I will adress that.

I can live the name showErrorMessages and skipMessages but make them more intuatuve to disable the output of the errors or skips compeletely which will make them more true to their name.

[2020-09-05 18:25] cenk1cenk2 commented on #163
Thanks again for this through testing and bringing new ideas to the table it is much appriciated.

[2020-09-05 19:06] cenk1cenk2 commented on #163
Okay I forked your replicate it with [this](https://repl.it/repls/UprightCostlyFormula#new.ts)

It does not like uncatched errors with `Promise.reject` somehow. Other async tasks that fail will show their messages correctly but somehow with the Promise constructor, this is not possible.

[code]

I will push a fast fix for the rest since I have limited time today and do not want to block your flow.

[2020-09-05 19:35] cenk1cenk2 commented on #163
Oh it is my bad ofc. If you promise.reject with new Error it should be fine.

[2020-09-05 19:35] #163 closed

[2020-09-06 04:49] chet-manley commented on #163
Since a rejected Promise can reasonably be assumed to always be a failure condition, and since a rejection can return any value, I think the most graceful failure method would be to check the return value. If it is a String or an object containing a `message` property, output that as the error message (rejecting with just a string, while not best practice, is both valid and not entirely uncommon).

[2020-09-10 16:35] g5becks opened #172 "Compiler errors when building"
Hi, I am using Listr2 in a project and getting a bunch of errorrs from the declaration files that this library exports.

`tsc  -v Version 4.0.2`

here is my tsconfig

[code]
running tsc -b emits the errors below

[code]

[2020-09-10 16:40] cenk1cenk2 commented on #172
I have seen some tsc references build errors but this is like complaining about all the types. I will have a look but do not have much idea about the ETA nor where to start.

[2020-09-10 16:41] cenk1cenk2 commented on #172
Can you confirm that you have only one version of listr in your monorepo? But eventhough you do have two it is still to much errors.

[2020-09-10 16:54] g5becks commented on #172
tried it. still not building.

tsserver is reporting all of the same issues as the compiler though.

![Screenshot from 2020-07-20 16-10-45](https://user-images.githubusercontent.com/42525743/92767036-bceab900-f364-11ea-9e8e-f5369ed918eb.png)

[2020-09-10 16:59] g5becks commented on #172
Also checked to confirm that only one version was available.  The only version I can find is 3.0.1 in my root node_modules

[2020-09-17 16:50] AJHenry commented on #172
I ran into this issue too when building locally and rather than trying to fix all the types I just skipped the lib type check with this typescript compiler flag

[code]

[2020-09-17 17:20] cenk1cenk2 commented on #172
I am bit baffled about this. Havent had any progress with it.

[2020-09-17 18:13] AJHenry commented on #172
I found it to be because of the highly customized tsconfig in the repo. When I was contributing to the project I couldn't even get the `@<path>` to resolve correctly, nor could I get the examples to build without some intervention

[2020-09-17 23:52] AJHenry opened #173 "Skipping a Task with an active prompt"
In one of my use cases, I would like the user to press a key if they want to interrupt the current task, otherwise continue on.

For example, I have an enquirer prompt that is something like the following `Press any key to abort, otherwise continuing in 10 seconds...`

However, when I skip the task while the prompt is active, the task get skipped but the prompt is still active in the background.

[2020-09-18 00:35] cenk1cenk2 commented on #173
Yeah, there is no handling for that you are right about it. This kind of seems straight forward at first sight.

- So [task.prompt](https://github.com/cenk1cenk2/listr2/blob/fed5da85190c89419fbdcd1d6213b8b6ce113762/src/lib/task-wrapper.ts#L85) is set to true when there is a prompt and I also use it to return any errors from the prompt module.
- Maybe instead of true, we set it to the prompt itself

[2020-09-18 01:41] AJHenry commented on #173
I think that approach could work, I'll play around with it

This isn't that urgent and I'll have time tomorrow to take a crack at it too

[2020-09-19 16:32] cenk1cenk2 commented on #173
Okay i gave it a try. It seems to be going well but I encountered a problem with enquirer itself. Even though enquirer is an event emitter and looking at the code should emit a 'prompt' message when it initiates a prompt it does not fire the eventlistener [here.](https://github.com/cenk1cenk2/listr2/blob/79ba2bb2005a3d646c9e5fafc1347fdc4a369cc7/src/utils/prompt.ts#L48)

Did you managed to get some

[2020-09-19 16:35] AJHenry commented on #173
I too ran into that problem and I had to pass in an enquirer instance via `injectWrapper` and only use the event listener in the same scope as where `.prompt` is called.

Could we just destroy the enquirer instance once the task is skipped? We can then just clear the bottom bar and reinitialize enquirer if a new prompt comes up later

[2020-09-19 16:38] AJHenry commented on #173
I was also exploring the idea of a `cancelPrompt` function that would be exposed by TaskWrapper where it sets `this.task.prompt` to false and unbinds the instance of `this.createPrompt`

[2020-09-19 16:41] cenk1cenk2 commented on #173
What do you think of normally skipping the task or throwing out an error canceling the active prompt? I never invoke constructor of enquirer that should be why.

[2020-09-19 16:44] AJHenry commented on #173
For me, I think if the prompt actually throws an error (via CTRL-c or invalid input) it should bubble up to the task. However, if a task cancels a prompt via skip or cancelPrompt, it should not throw an error

[2020-09-19 16:45] cenk1cenk2 commented on #173
Yeah I agree on that part as well.

If ctrl-c -> error
via skip or cancelledprompt or such -> no error, just carry on

[2020-09-19 16:49] AJHenry commented on #173
I think the best approach would be to create a cancelPrompt func for the task itself. That way we can expose that function to the user as well, and `skip` could implicitly call it

[2020-09-19 16:55] cenk1cenk2 commented on #173
But I have to also handle skip and on errors with exitOnError: false since this is kind of a bug by itself.

[2020-09-19 17:00] AJHenry commented on #173
Ah ok, that makes sense

[2020-09-19 17:08] cenk1cenk2 commented on #173
But you want to skip only the prompt not the task itself, I understand your thinking as well. But the problem might be I have to save the prompt to task.prompt to later access it and cancel it.

[2020-09-19 17:14] AJHenry commented on #173
Yea that was one of my ways of solving this, that way we can tackle cancelling the prompt on skip and giving users the option to also cancel a prompt during an active task.

But bubbling up errors might be difficult in that case

[2020-09-19 17:23] cenk1cenk2 commented on #173
Can you give a try to [this branch](https://github.com/cenk1cenk2/listr2/tree/issue/173).

The last thing about canceling the prompt is missing but and it uses prompt.submit() instead of prompt.cancel() because cancel throws out an error even though I try to catch it.

[2020-09-19 17:27] AJHenry commented on #173
Sure I can give it a crack today. However, while I was playing with it yesterday in my core project, I ran into an issue. After I cloned, built, and `npm linked` the project, no matter what I did, the enquirer prompt would not display using my locally built package.

I'll try and figure out how to get the examples to build today though

I'll put together a contributing guide while I'm at it

[2020-09-19 17:33] cenk1cenk2 commented on #173
This should work for examples, no need to build them if I get you correctly.
[code]

If you install all the dependencies as you did to build the project, I think linking should work but enquirer is not installed as production dependency. So I am not sure what went wrong.

The easier way of doing this is running the docker-compose stack and linking the package to your project via npm. Since it will

[2020-09-19 17:39] AJHenry commented on #173
I'm not sure what happened with enquirer either, I installed it on both projects just to make sure but no avail, perhaps it needs to be installed globally when linking? I know npm link sets symlinks through .nvm node_modules so I'll try that next

Thanks for the setup, I can take a look at this later today and report back

[2020-09-19 23:11] AJHenry commented on #173
I was running into the issue with cancelling the prompt too since enquirer always returns an error and [doesn't differentiate between a SIG or programmatically running cancel](https://github.com/enquirer/enquirer/blob/8d626c206733420637660ac7c2098d7de45e8590/lib/prompt.js#L150). I'm fine with leaving it as submit for now.

I added a function `cancelPrompt` that is exposed to the task and can be us

[2020-09-19 23:23] cenk1cenk2 commented on #173
Everything seems where it should be, but don't you think that utilizing task.prompt is better instead of creating a new prompt instance variable, or was that not possible?

[2020-09-19 23:37] AJHenry commented on #173
Thats a good point, let me change some types around and we could use that

[2020-09-19 23:44] cenk1cenk2 commented on #173
Amazing. I want to thank you for this contrubition and while this is added we had the chance to fix a bug on the way.

If you can create a pull request when it is read I will merge it tommorow.

[2020-09-20 00:10] AJHenry commented on #173
Sounds good! And happy to help, this project is a a core package for one of my projects so you'll definitely see me contributing again soon (I really gotta add an option for line wrapping in the default renderer)

[2020-09-20 21:38] #173 closed

[2020-09-20 21:41] cenk1cenk2 commented on #173
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/3.1.0)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-18 13:23] jd1048576 commented on #172
I am also having issues with the type declarations, I created an [example](https://github.com/jd1048576/listr-repro) by copying the examples directory and updating the imports to use the npm package. I created a [workflow](https://github.com/jd1048576/listr-repro/runs/1271185381?check_suite_focus=true) to show the errors.

[2020-10-18 13:23] jd1048576 commented on #172
I am also having issues with the type declarations, I created an [example](https://github.com/jd1048576/listr-repro) by copying the examples directory and updating the imports to use the npm package. I created a [workflow](https://github.com/jd1048576/listr-repro/runs/1271185381?check_suite_focus=true) to show the errors.

[2020-10-18 13:34] cenk1cenk2 commented on #172
Okay thank you for reproduction. I will have a further look at it. The problem seems to be assigning default renderer for type completion again. I guess i have to find another way to do that part. In the mean time you can disable library type check in the tsconfig file if you wish.

[2020-10-19 17:26] cenk1cenk2 commented on #172
On further notice I have realized that it does not return the static options and per task options properties of renderer by generics. Earlier versions supposedly returned rendererOptions and per task options utilizing generic types. I will go back and take a look which update did broke it.

[2020-10-24 19:10] #172 closed

[2020-10-24 19:13] cenk1cenk2 commented on #172
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/3.2.0)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-12-22 14:48] smithki opened #235 "Upcoming TypeScript changes to Enquirer"
I wanted to leave a trace here about a promising PR in the `enquirer` repo regarding TypeScript definitions (https://github.com/enquirer/enquirer/pull/307).

I understand that the typings provided by `listr2` are an internal reproduction of Enquirer's typings, although they are incomplete. Hopefully once the above PR is merged and published, the custom typings in `listr2` can be removed!

Thanks f

[2020-12-22 14:50] cenk1cenk2 commented on #235
Oh that is just great news. I will have a look when the PR gets merged and update accordingly.

Thanks for the heads up and kind words.

[2020-12-27 13:10] mikerockett commented on #235
Pretty new to the TS world here. Does the above have anything to do with the below?

[2020-12-27 13:54] cenk1cenk2 commented on #235
Na. This is because I export the prompt.interface.ts from index.ts and since you call the package by index it goes through and parses every import in indivudual files. I import enquirer in prompt.interface.ts for prompt types, so you have to explicitly install enquirer for typescript not going crazy.

You can solve this by installing enquirer as dev dep if you are not going to use it. I am not sur

[2020-12-27 14:01] mikerockett commented on #235
Perfect, needed to enable module interop as well as it was moaning about default imports. Thanks!

[2020-12-27 15:09] cenk1cenk2 commented on #235
Np. Sorry that it is a bit of shortcoming.

[2021-01-11 16:28] erykpiast commented on #141
I have a similar use-case I believe and I think a callback wouldn't be so bad. I'd like to run some arbitrary code if the Listr failed (so ex. if any of the tasks failed and I've set `exitOnError` flag to `true`). Basically, I'd like to so something like:

[code]

I tried with promises - `task.newListr(...).run().catch(teardown)`, but UI breaks then :(

[2021-01-11 18:34] cenk1cenk2 commented on #141
https://github.com/cenk1cenk2/listr2#access-parent-task-from-subtasks

I guess this one should work in your case just add a last task where you set parent.title.

I am on mobile so unfortunetly can not write an example at the moment, but that should work.

If your tasks are async you should wrap them with two sync tasks where first one will hold the async tasks and the second one will change the t

[2021-01-11 19:06] cenk1cenk2 commented on #141
If you can not manage it. I will have a look at creating an alternative way to do this this weekend. It seems straightforward enough.

[2021-01-12 10:44] erykpiast commented on #141
The part which I'm struggling with is getting a function called after the inner list finished the work (either with or without success). Accessing the parent task isn't the issue at all. I'd really like to avoid repeating my cleanup code in each inner task. I guess I could do it but it'd and get what I want, but it'd be super repetitive.

[2021-01-12 19:54] cenk1cenk2 commented on #141
@erykpiast is it okay for you to open up a new issue with a reproducable repository. Because i read it couple of times and did not understand what you are trying to achieve exactly, let alone it being achivable at all.

[2021-01-12 20:47] erykpiast opened #257 "Provide a way to run some code after the inner list finshes working"
I've tried to simply `run` and `await` the inner `Listr` instance, but then the UI breaks.

[code]

https://user-images.githubusercontent.com/1434406/104372862-65ca4000-5520-11eb-9fee-db9c58874480.mp4

The repository with code producing above: https://github.com/erykpiast/listr2-callback

[2021-01-12 20:56] erykpiast commented on #141
Yea, that's a great idea. Sorry for the confusion! Here it is: https://github.com/cenk1cenk2/listr2/issues/257

[2021-01-12 21:26] cenk1cenk2 commented on #257
I will have a crack at it now i understand the problem more clearly. Initially i thought that we can use an option for stdout and pass in task.stdout() of outer task to inner task of that option but that wont look good. The behaviour is normal because log update package gets the whole priority of process.stdout so inner task tries to overwrite outer task output and vice versa. But there should be

[2021-01-12 21:29] erykpiast commented on #257
Thank you for your will to help!

[2021-01-16 15:58] karlhorky opened #260 "Option to Disable Truncation / Empty Line removal?"
Hi there! 👋

First of all, thanks for your contribution of `listr2` to the community! This is a great library, and saves a bunch of boilerplate!

I am a bit confused with listr2's behavior of truncating and removing empty lines in my errors. The content and the formatting that I'm writing in the errors is important, and I would like it to stay the same.

See the error in the source code and the fo

[2021-01-16 16:48] cenk1cenk2 commented on #260
Hello Karl,

I will have some time to implement the option tomorrow with the other issue I also have in hand. But generally, the main reason is the truncation of strings is the default is since log-update the library this module and the original depends upon can show some weird behavior if you exceed the terminal height or width. But of course, I can leave an option to do that if you wish.

The ot

[2021-01-16 17:07] karlhorky commented on #260
Oh wow, thanks! That sounds great.

May I suggest switching `cli-truncate` to [`wrap-ansi`](https://www.npmjs.com/package/wrap-ansi) to word wrap the strings instead of truncating them? Would this be ok for you as a default?

This is my workaround for now, using `wrap-ansi`:

[code]

Not sure why I need to subtract `2` from the `process.stdout.columns`, but if I don't have that, then it still trun

[2021-01-16 17:10] cenk1cenk2 commented on #260
Yeah because it is intended by a number depending on which level of subtask it is for the first level it would be 2. I was thinking about the same because with truncation gone we will definitely need something like this to not break log-update.

[2021-01-16 17:31] karlhorky commented on #260
Ah, one caveat to switching to `wrap-ansi` may be long, unbreakable lines like a URL.

[2021-01-16 17:35] cenk1cenk2 commented on #260
I think I would add my own function for it since it is pretty basic, but I am not sure to include it as a default since it is so little change that will introduce breaking changes and may require the update on scripts that require this library. But it would definitely be a good option for the renderer. Maybe what I will try is not break the words, but it will get a little more complicated while pr

[2021-01-16 17:36] cenk1cenk2 commented on #260
Oh but I think for longer links than available terminal space it wouldn't work anyhow.

[2021-01-16 17:37] karlhorky commented on #260
Yeah, check my comment to the `{ hard: true }` option above.

[2021-01-16 17:39] karlhorky commented on #260
Right yeah, after consideration it seems setting as default would be risky.

Maybe an option as such:

[code]

[2021-01-16 17:45] cenk1cenk2 commented on #260
Yeah definitely agree with this solution, that would be something easy and intuitive to implement. I know setting default options for a library is hell every time. That's why I did add this `manager` maybe it would be useful for you too.

You can use it along the where you return this manager from a factory or so.
https://github.com/cenk1cenk2/boilerplate-oclif/blob/38851f1e5795afe7408bef464de4004

[2021-01-17 16:15] cenk1cenk2 commented on #257
Sorry, I have been swamped with work this week, only had proper time today.

I have thought that adding another entity to a task named `rollback` would be the best way to handle errors/rollback actions for subtasks. Looking at your code it covers mostly what you want to do and think that it would be a useful addition for lots of subtasks with a cleanup process if any fails, providing alternative w

[2021-01-17 19:30] cenk1cenk2 commented on #257
:tada: This issue has been resolved in version 3.3.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/listr2/v/3.3.0-beta.1)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v3.3.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-17 20:13] cenk1cenk2 commented on #257
Please check out the latest beta and tell me what you think. I will later merge it to the upstream branch.

[2021-01-17 20:23] erykpiast commented on #257
Thank you @cenk1cenk2! This addition looks promising, I'll test it out and let you know. Thanks again!

[2021-01-17 20:57] cenk1cenk2 commented on #260
I have given it a try but it seems it requires a bit of refactoring so closing the other issue today, I will check this one some other time, if it is convenient for you.

[2021-01-18 07:24] karlhorky commented on #260
Yeah, no problem - take your time.

I have workarounds for both for now:

- lines being truncated: [the `wrap-ansi` workaround above](https://github.com/cenk1cenk2/listr2/issues/260#issuecomment-761598464)
- empty lines being stripped: see below

I use the [empty Braille unicode character](https://www.compart.com/en/unicode/U+2800) to create an empty line:

[code]

[2021-01-18 19:52] cenk1cenk2 commented on #260
Hello @karlhorky,

This has been released on the @beta channel. It required some idiomatic checks since there was per-line indentation and did take longer than expected, without breaking anything essential on tests.

Both functions are implemented, please give it a try and tell me what you think.

I will update the documentation this week then merge it to the mainstream branch.

Have a good day.

[2021-01-19 15:48] karlhorky commented on #260
Ah nice, thanks! I'll take a look at whether it works in my project in the next few days.

I noticed that [you have `wrap` and `wordWrap` options](https://github.com/cenk1cenk2/listr2/pull/263/files#diff-2f325cadd635547ef73e04d65671911b5ff797cdef1876c94d6bd0de6a12cdeeR461-R474), but they are actually functionally doing the same thing, because [`wordWrap` defaults to `true` in `wrap-ansi`](https://

[2021-01-19 16:13] cenk1cenk2 commented on #260
I am not sure we can do soft wrapping due to `log-update` because it already handles that but the indentation would be wrong using `log-update` wrapping.

Then I will remove the hard wrap, because yeah it seemed to my eyes they were both doing the same thing as well while testing, but since we talked about it, I decided to keep it.

Please inform me whether it works for you whenever you get the ch

[2021-01-19 16:39] karlhorky commented on #260
Ok great, so to be clear, there will just be a single wrap option `formatOutput: 'wrap'`, is that correct?

[2021-01-19 16:52] cenk1cenk2 commented on #260
Yes, that is exactly true.

[2021-01-20 16:48] karlhorky commented on #260
Nice, just tested `formatOutput: 'wrap'` and it seems to be working:

<img width="484" alt="Screen Shot 2021-01-20 at 17 47 26" src="https://user-images.githubusercontent.com/1935696/105207267-99702000-5b47-11eb-8982-3b6d9b32b80b.png">

Thumbs-up from me on release! 🚀

[2021-01-20 17:24] cenk1cenk2 commented on #260
That is great thank you for your feedback. I will update the readme and release it.

[2021-01-20 17:24] #260 closed

[2021-01-20 18:14] cenk1cenk2 commented on #257
:tada: This issue has been resolved in version 3.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/3.3.0)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v3.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-20 18:18] #257 closed

[2021-01-21 13:09] renovate[bot] opened #275 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 15:11] #275 closed

[2021-01-21 23:36] AndrewLeedham opened #276 "Typings issue in v3.3.0"
When using Listr2 in a TypeScript project I am getting the following TSC error when using v3.3.0:
[code]
It compiles fine with the previous v3.2.3.

[2021-01-22 00:43] cenk1cenk2 commented on #276
Is strict null checks enabled? I have not made any substantial changes to types. But i will have a look at it. Sorry for inconvience.

[2021-01-22 00:46] cenk1cenk2 commented on #276
Oh okay I might have an idea because i swapped legacy styled function typings to arrow typings maybe that can be the cause.

[2021-01-22 00:47] AndrewLeedham commented on #276
I have `strict` enabled, which I believe includes that so yes. My tsconfig roughly looks like this:
[code]

[2021-01-22 01:58] cenk1cenk2 commented on #276
I see. Tommorrow i will take a look at this and revert back to original non arrow form of typings and release it on beta. If this was working before with the same tsconfig then it would be worth the try.

[2021-01-22 13:44] karlhorky commented on #276
@AndrewLeedham did you add any annotations to your task function? (if so, can you post your code for the failing task?)

I'm using the new version and haven't seen any type errors...

[2021-01-22 14:26] AndrewLeedham commented on #276
Just running it with:
[code]
throws the error.

I am using TS 4.1.3 and node 14.15.0 if that helps.

[2021-01-23 13:45] karlhorky commented on #260
Awesome, thanks! Upgraded in https://github.com/upleveled/preflight/commit/f39d3850591459166cf3de797d370a97e3132e2e 🙌

[2021-01-23 14:26] cenk1cenk2 commented on #260
Great, glad it fixed your problem.

[2021-01-24 15:38] cenk1cenk2 commented on #276
Can you check out the latest alpha package, I just rollbacked the types I did, since it is basically the same thing.

[2021-01-24 15:41] cenk1cenk2 opened #277 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `alpha` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you ca

[2021-01-24 15:44] #277 closed

[2021-01-25 10:17] AndrewLeedham commented on #276
Still seeing the same issue with `3.3.1-beta.1`.

[2021-01-25 10:45] cenk1cenk2 commented on #276
Oh, that's sad.

So going through it:
- It does work with the prior version of 3.2.3 and does not work with 3.3.0 or the beta.

Can you create me a minimum reproducible repo whenever you have some extra time?

[2021-01-25 11:16] AndrewLeedham commented on #276
Sure: if you click Run at the top of https://repl.it/@AndrewLeedham56/List2-repro the error is returned from `tsc`. Worth noting here I am only seeing the issue via tsc locally as well, the VSCode language server is not picking it up :/

[2021-01-30 23:37] appkaiju commented on #276
Hi, @cenk1cenk2. Do you think that changing TaskWrapper.d.ts to `run(ctx: Ctx | undefined): Promise<void>;`. would be enough? I don't see any issues with it.

[2021-01-31 14:35] cenk1cenk2 commented on #276
Mr. @appkaiju, I tried that some other way setting the default context to `any | undefined` because it gets injected from the main class to the task wrapper, but the combination of that with converting run from arrow function seems to solve the issue. I will merge it to the main branch now.

https://repl.it/@CenkKl/List2-repro#index.js

[2021-01-31 14:35] #276 closed

[2021-01-31 14:40] cenk1cenk2 commented on #276
:tada: This issue has been resolved in version 3.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/3.3.1)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v3.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-01 23:55] maliroteh opened #289 "Content is printed twice"
I have the following sample code:

[code]

When I run this sample, I see that Listr prints the output twice as tasks progress:

![Screen Shot 2021-02-01 at 3 44 39 PM](https://user-images.githubusercontent.com/52436329/106532267-b7714500-64a4-11eb-8839-4701304335e2.png)

Is there a way to work around this issue to have the result printed only once?

[2021-02-02 00:20] cenk1cenk2 commented on #289
It seems it tries to log the error before it finishes rendering. Which it should not do because error is the last thing gets thrown out and you set exit on error to false even. That can break `log-update`. I will check that out.

[2021-02-02 00:47] cenk1cenk2 commented on #289
Okay it expects a `Promise.reject` with `new Error()` which is expected from me.

You can have a look at this example or use `Promise.reject(new Error('something-something'))`.
https://repl.it/@CenkKl/listr2289#index.ts

[2021-02-02 00:47] #289 closed

[2021-02-03 12:11] AndrewLeedham commented on #276
@cenk1cenk2 this works perfectly thank you!

[2021-02-03 16:51] maliroteh-sf opened #290 "Output does not wrap as it should"
Using the following example:

[code]

Listr2 generates the following:

![Screen Shot 2021-02-03 at 8 46 30 AM](https://user-images.githubusercontent.com/65030660/106780340-be12d000-65fc-11eb-922a-2daaab47e9db.png)

But `formatOutput: 'wrap'` was set for `rendererOptions` so shouldn't the output messages be wrapped instead of truncated?

[2021-02-03 16:54] maliroteh-sf commented on #290
Never mind. Looks like I should have set the `renderOptions` for the outer Listr object not the inner.

[2021-02-03 16:54] #290 closed

[2021-02-03 16:54] cenk1cenk2 commented on #290
Please set it for the root task with new Listr. I have some problems regarding injecting subtask options to the main task.

[2021-02-03 16:55] cenk1cenk2 commented on #290
I will fix some subtask options not injecting properly whenever I have time. Please try to add them to root cases for that ones.

[2021-02-18 21:01] sarink opened #295 "exitOnError swallows output"
According to the docs:

In practice:
[code]
If `exitOnError: false` is set, the `catch` is never triggered.

[2021-02-18 21:11] cenk1cenk2 commented on #295
This is the intended behaviour, matching the original Listr and what I also prefer too.  I guess there is no way unless I throw all the errors after, which is undesirable for most cases.

You can use the `task.error`, if you want to access the catcher error, even it is `exitOnError: false`.

https://github.com/cenk1cenk2/listr2#throw-errors
[code]

[2021-02-18 21:25] sarink commented on #295
Got it, that makes sense. Perhaps the only thing to do is to update this part of the README, which suggests that listr _will_ re-throw
[code]

[2021-02-18 21:25] #295 closed

[2021-02-18 21:37] cenk1cenk2 commented on #295
Yes, it may need an update. But I am planning to create a documentation site because README is getting much bigger than I want for node_modules.

[2021-02-21 19:21] MrJmpl3 opened #296 "Listr2 breaks if number of tasks overflow the terminal height"
This is a issue from Listr original but affect this version too: https://github.com/SamVerschueren/listr/issues/150

[2021-02-21 19:30] cenk1cenk2 commented on #296
I could not come up with a good solution to this problem, even though there are some improvements.

- It writes the last render as `process.stdout.write`.
- It updates the render via the render hook if there are any changes to the task itself like a state change from `pending` to `completed`.

But depending on the terminal itself it is still prone to breaking while rendering due to `log-update`.

[2021-02-21 19:54] cenk1cenk2 commented on #296
https://github.com/sindresorhus/log-update/issues/36

This is a related issue and makes sense to me why this is not likely to be solvable.

[2021-03-01 14:01] vladshcherbin opened #302 "How to output stream progress"
Hey 👋

I've got a download stream with `on('progress')` event:

[code]

If I use above code, chunks of downloaded data will be shown in console. I'd love to show message from `progress` event.

I don't have enough knowledge with streams, I've tried some ideas but didn't succeed. Is it somehow possible?

[2021-03-01 14:31] cenk1cenk2 commented on #302
Yes, this should be possible.

Even though I can not try it out at the current moment it should go something like this:
- Convert the stream into a promise by wrapping it.
- Pipe the output to `task.output`.
- If you want to use a progress bar, which I did not implement in yet since it needs some other work to do so, choose a one that supports `stdout` variable so you can redirect the `stdout` of

[2021-03-01 17:34] vladshcherbin commented on #302
Yep, this works great for me. I've tried to create another stream, push progress there and return in `task` 🤦

Converting it to promise solves my task as I wanted to change title (add progress and downloaded bytes to it) with `task.title`.

Thank you a lot! ❤️

[2021-03-01 17:34] #302 closed

[2021-03-01 19:38] metasean commented on #296
@cenk1cenk2 - I'm just starting to use Listr2 in a project and am getting lots of duplicates - even when there are no commands that exceed the terminal window and I'm not resizing or anything like that.  This obviously isn't directly related to this issue, but to me it indicates there are likely multiple causes.

I also have some listrs that definitely exceed the terminal window, so the following

[2021-03-01 20:14] cenk1cenk2 commented on #296
@metasean sincerely thank you for a detailed post with illustrations. This is definitely an alternative solution but the problem is it will break mostly in the same cases where it is resized because it will not have access to clearing the parts that are outside of the terminal window at a given time, then will rerender it with the space available. The next time it will render in the same place so

[2021-03-01 21:50] metasean commented on #296
Yeah, my proposed solution definitely doesn't address the window resizing.

With only a cursory glance, `stdout-update` does look like a better approach than `log-update`.  It's awesome that @keindev is working on exposing the `clear` method!

Yes, several of my tasks do output to stdout.  In the case of my really short listr, the first task has an updating statusbar (based on which listr messages

[2021-03-02 13:43] keindev commented on #296
The problem of duplicate lines in the output is related to the restriction, within which it is not possible to change the value of a line outside the work area.

I will try to explain on the diagram:
![stdout](https://user-images.githubusercontent.com/4527292/109656153-2bbb0900-7b75-11eb-9d8c-9999903e33c5.jpg)

Changing the state of the output is possible only within the active area, from row 0/co

[2021-03-02 17:03] metasean commented on #296
@keindev - The goal of my suggestion was to work within the constraint that you're describing.

Using my previous examples, it would _function_ something like the following (note that console output is only ever removed from the active console area).

For example, say there are 4 tasks, then the initial display would include all of the tasks
[code]

Then there's some output from the first task, so

[2021-03-02 18:55] keindev commented on #296
@metasean Yes, at step **(c)**, there is a shift 2 lines down beyond the active area. At this point (as far as I believe, since I was solving a similar problem in [tasktree-cli](https://github.com/keindev/tasktree)):
- there is a new iteration of rendering (every 100ms for example), so that the spinner spins around tasks (⠴ => ⠦ => ⠧)
- during this rendering, the same list from step **(c)** is upd

[2021-03-04 17:38] metasean opened #303 "Feature Request: Retry on Error"
For example,

[code]

[2021-03-04 19:02] cenk1cenk2 commented on #303
I can do something to retry the whole task, but it would be weird to implement just repeating the part of it.

Something like:
[code]
Which will try to run the same task 3 times, if it fails. And may write something to title like `Doing something [retrying 1]`

But in my eyes, it is not very efficient. Maybe you can do export the same thing as a function then call it.
[code]

Sorry wrote this from

[2021-03-04 20:14] metasean commented on #303
Your speedy responses more than make up for any standards missed by writing from your phone!

I'm actually working on a variation of the second approach, but I feel like I can't be the only one who will run into a situation like this, hence the feature request.  In both my suggestion and your first approach, the same code would be retried, but —if I'm understanding your first approach— the task wo

[2021-03-04 20:52] cenk1cenk2 commented on #303
Na it should just run if it fails initially not everytime. It will be the same approach. Sorry while was a jnteresting choise there but i was on phone so that is what it is. A basic for loop internally and catching the error first can solve this easily embeded in task wrapper.

[2021-03-04 22:22] metasean commented on #303
fwiw: this is basically what I ended up with

[code]

[2021-03-05 17:58] cenk1cenk2 commented on #303
Please check out the updated documentation and see if it fits here, https://listr2.kilic.dev/general-usage/retry.

Published as version `v3.4.0`.

[2021-03-05 18:02] cenk1cenk2 commented on #303
I realized that, I have not injecting the error back in to task after looking at your messages but I guess that can be easily overcome.

[code]

But maybe I can expose something like `task.retry()` as you mentioned.

[2021-03-05 18:40] cenk1cenk2 commented on #303
Okay I have done rethinking and exposed the error as well. Updated the documentation accordingly.

What you can do is exactly playing around this idea of:
[code]

[2021-03-05 18:49] cenk1cenk2 commented on #303
Sorry for spamming but I think you can do it in an easier way as well.

- Check that command exists first via something like `shellcmd -v` and check if it sends `execa.stdout`, if not write a context variable to install it. Something like a smoke test of `git --version`.
- enable/skip a task of installing that via that context variable.
- run your command

I do something similar in most of my CLIs

[2021-03-08 16:04] metasean commented on #303
Sorry to take so long to respond.

Overall the new `retry` looks great!

Everything —_except_ `task.isRetrying()`— works as expected; `task.isRetrying()` _always_ returns false.

[code]

results in:
[code]

I'm also getting the following TypeScript notices:

for `task.isRetrying()` [A]:
[code]

for `retry` [B]:
[code]

---

The reasons that I didn't go with a 'check dependencies' first approach ar

[2021-03-08 17:06] cenk1cenk2 commented on #303
Okay this is my bad, I forgot to break out the for loop so if it completes it still retries which we don't want.

So this is when it completes with retry:
[code]
![image](https://user-images.githubusercontent.com/26881592/110354400-666ee680-8038-11eb-9e71-7f8f0df37562.png)

This is when we retry with uncommenting the throw error, if it throws any error while execution it will just retry it you won

[2021-03-08 18:20] metasean commented on #303
fwiw: With v.3.4.3 (the latest released version), when I try to publish a package with the example from the last comment, i.e.:

[code]

 I'm getting:
[code]

[2021-03-08 18:35] cenk1cenk2 commented on #303
Yeah with scrict null checks that is possible because that item is initially undefined.

[2021-03-08 18:36] cenk1cenk2 commented on #303
But the other type errors are gone or?

[2021-03-08 21:04] metasean commented on #303
Good to know that the strict null checks may show up as undefined initially. 👍

The other type errors were showing up in my IDE (VS Code) because I hadn't enabled the TypeScript extension (TypeScript Hero). 😳

[2021-03-08 21:04] #303 closed

[2021-03-12 23:04] metasean opened #310 "edge case: last log line"
First run the following exactly as is, then uncomment line 14 and re-run it:
[code]

[2021-03-12 23:05] metasean commented on #310
Also, if I ever find myself in Vienna or you find yourself in the Salt Lake City, UT area, I definitely owe you a drink!

[2021-03-13 00:13] cenk1cenk2 commented on #310
Hello @metasean ,
This is known since log-update package breaks with anything interfering. I am working on a better solution with another library from keindev, which you can track [here](https://github.com/cenk1cenk2/listr2/issues/296). There is a branch in the repo as well, but yet I have to fix the aforementioned updating render which will render the lines static. The library by keindev hooks th

[2021-03-14 16:23] cenk1cenk2 commented on #310
I am closing this issue in favor of #296.

[2021-03-14 16:23] #310 closed

[2021-03-14 16:25] cenk1cenk2 commented on #310
:tada: This issue has been resolved in version 4.0.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/listr2/v/4.0.0-beta.1)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v4.0.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-14 16:31] cenk1cenk2 commented on #296
There is a new version published with `4.0.0-beta.x`, which has [stdout-update](https://github.com/keindev/stdout-update) implemented in.

Even though it is not finalized yet and breaks some tests because of the difference of clearing lines between applications, it seems to work a charm. Thank you again @keindev for this beautiful plugin.

It will be merged with a later set of changes that I have

[2021-03-29 17:44] shumkov opened #320 "Elapsed time for verbose renderer"
It would be really helpful to have the `elpasedTime` option in the verbose renderer to display how much time tasks took.

[2021-03-29 17:55] cenk1cenk2 commented on #320
sure that would be easy to enable since functionality is already in place. i will take a look when i have extra time, hopefully this weekend.

[2021-03-29 19:55] shumkov commented on #320
@cenk1cenk2 Sounds cool! Thank you.

[2021-03-31 22:01] grempe opened #325 "Confusion between `NumberPrompt` vs `Numeral`"
When trying to integrate Enquirer prompts for the first time It took some digging in your code to figure out how to get number prompts to work.

In your code you export a `Numeral` type.

https://github.com/cenk1cenk2/listr2/blob/1fbfaf27c2e3325855de73154689defabd679b0d/src/utils/prompt.interface.ts#L119

But in the enquirer docs they have a Markdown heading for a `Numeral` type (which is maybe wh

[2021-03-31 22:03] grempe commented on #325
cc: @jonschlinkert

[2021-03-31 22:35] cenk1cenk2 commented on #325
I hope to not overwrite the types as soon as the merge request on the upstream merges. I only tried to convert the types that I was using at the time and added the rest mostly from the documentation, so it may be a little bit buggy. Sorry for that.

I might take a look this weekend if i have some extra time, but can not promise since currently bit swamped. a pull request is welcome if you have any

[2021-04-01 08:41] jonschlinkert commented on #325
Hi, please read the readme. It is explained there.

Sent from my iPhone

[2021-04-04 19:54] cenk1cenk2 commented on #325
It seems numeral seems alright to use, looking at [here](https://github.com/enquirer/enquirer/blob/8d626c206733420637660ac7c2098d7de45e8590/index.js#L228) how prompt names are registered, and it is actually registered as `numeral`  in [here](https://github.com/enquirer/enquirer/blob/8d626c206733420637660ac7c2098d7de45e8590/lib/prompts/index.js#L19). I added an example [here](https://github.com/cen

[2021-04-04 20:00] #325 closed

[2021-04-04 20:02] cenk1cenk2 commented on #325
:tada: This issue has been resolved in version 3.4.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/3.4.5)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v3.4.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-05 12:27] cenk1cenk2 commented on #320
I added the appropriate example [here](https://github.com/cenk1cenk2/listr2/blob/19e8b14f275c0d754de1a37f1d1e0495fda68a31/examples/task-timer.example.ts#L77).

This demonstrates how to use it while using verbose renderer as the fallback renderer but it should work either way. I just wanted to be sure that it does not collide with the `showTimer` option in the primary renderer.

[2021-04-05 12:28] #320 closed

[2021-04-05 12:31] cenk1cenk2 commented on #320
:tada: This issue has been resolved in version 3.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/3.5.0)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v3.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-05 17:09] shumkov commented on #320
@cenk1cenk2 Thank you! It works as expected!

[2021-04-05 23:04] sarink opened #339 "task-level exitOnError option"
I have some tasks in my list that are ok to fail, and some that are not. I thought I could pass the `exitOnError: false` option to a task, but it appears that that option can only be passed while calling `run`.

This doesn't work, when encountering the error list exits
[code]

As a workaround
[code]
this works as desired, but is inconvenient. Is there another way?

[2021-04-05 23:26] cenk1cenk2 commented on #339
Yeah it is mostly on the subtask level so wherever a Listr class is defined. The options in the task itself is the per task renderer options and do not change the behavior. But we can add a key to task itself like skip or enabled called exitOnError and make this more convient on per task level. You can also catch the error thats what I do mostly but it will show itself as successful with a tick th

[2021-04-18 16:33] #339 closed

[2021-04-18 16:35] cenk1cenk2 commented on #339
:tada: This issue has been resolved in version 3.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/3.7.0)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v3.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-18 16:37] cenk1cenk2 commented on #339
Sorry for taking this long, but it is now implemented in.

[2021-04-19 22:54] mikenikles opened #368 "Capture `stdin` with `execa` to run interactive suprocesses"
Hi,

First of all, thanks for maintaining this project 🙏 !

As part of one of my tasks, I'd like to execute `npm init svelte@next -y`. The challenge I run into is that the `npm init` script is interactive and displays a number of prompts.

My task currently looks like this:

[code]

If I comment out the line above the `return` statement, the task fails with `TypeError: Cannot read property pipe of

[2021-04-19 23:45] cenk1cenk2 commented on #368
Hmm, I am not sure I understand one hundred percent. So you want to capture the stdout and display it as output as well as take control of stdin and pass in tbe answers right?

[2021-04-20 00:00] cenk1cenk2 commented on #368
The way I usually pipe it through is like [here](https://github.com/cenk1cenk2/servicecmd/blob/9d993a9171278745396151edc974cb69640a4c85/packages/cli/src/commands/docker/index.ts#L307) as instance is defined in [here](https://github.com/cenk1cenk2/servicecmd/blob/9d993a9171278745396151edc974cb69640a4c85/packages/cli/src/commands/docker/index.ts#L278). There is also the case you can return the strea

[2021-04-20 01:17] mikenikles commented on #368
Hey Cenk, thank you so much for your feedback. I experimented with that a bit in my project's pull request (see reference above this comment). I left instructions in the PR if you want to use that code. In the end, I'd like to run a command with `execa` which itself contains prompts and requires user input. Once that command completes, I'd like to continue with my `Listr2` tasks.

I appreciate you

[2021-04-30 14:13] bokzor opened #385 "Icons doesn't work with cmd.exe"
Hi,

As you can see in the picture, icons are not displaying correctly.

![image](https://user-images.githubusercontent.com/3626888/116707286-c9448480-a9ce-11eb-9c56-b888ee0ff74a.png)

This happened on a WIndows 10 machine with System32\cmd.exe

[2021-04-30 14:14] cenk1cenk2 commented on #385
Are you using a nerd fonts based font for cmd?

[2021-04-30 14:54] bokzor commented on #385
I didn't change it.
It seems that 'Consolas' is used.

[2021-05-01 19:55] privatenumber opened #386 "feat: inserting and running sub-tasks dynamically"
## Problem
I'm creating a CLI to collect benchmarks, and I want to run a set of tasks _n_ times. However, I don't want to create a new task for each one as _n_ could be as high as 100.

Instead, I want to use one task that repeats it's sub-task _n_ times, and updates the output message to `Iteration ${i}`.

## Feature request
An API like this where I can insert/run arbitrary Listr instances dynami

[2021-05-01 20:00] cenk1cenk2 commented on #386
Yes you can do this already. Its not per say dynamic but works like it. The key is returning a subtask mapped inside a parent task. Something like this https://github.com/cenk1cenk2/servicecmd/blob/5d13c9616ca70753f7b9d458f10f1fdb75631b1a/packages/cli/src/commands/docker/index.ts#L235 .  Sorry for not complete mobile answer but tell me if this works in your case.

[2021-05-01 20:12] cenk1cenk2 commented on #385
Maybe you can try with https://github.com/wclr/my-nerd-fonts/blob/master/Consolas%20NF/Consolas%20Nerd%20Font%20Complete%20Mono%20Windows%20Compatible.ttf . I am not actually sure how the default command prompt behaves. But the icons are mostly directly dependent on https://www.npmjs.com/package/figures and even though it lists them as having windows defaults in practice it may not depending on th

[2021-05-01 20:45] privatenumber commented on #386
Returning a subtask is what I'm trying to avoid because the list of tasks in the subtask could be very large.

Correct me if I'm wrong, but as I understand, this is what you're suggesting right?
[code]

This makes my output look like this:

<img width="142" alt="Screen Shot 2021-05-01 at 4 41 13 PM" src="https://user-images.githubusercontent.com/1075694/116794625-66b9ba00-aa9c-11eb-9242-2a98a63bbb

[2021-05-01 20:55] cenk1cenk2 commented on #386
I guess what you can do this not give it a task title and use the parent output or title through the subtasks. So subtasks are not actually rendered, how do you think of that approach?

[code]

[2021-05-01 21:02] privatenumber commented on #386
Close, but I would like to run a subtask for each iteration.

The closest I have been able to get to that behavior is with faking retries:

[code]

I will try to get a working visual output with this code to further demonstrate my end goal.

[2021-05-01 21:14] cenk1cenk2 commented on #386
We can replicate the same behavior for retries, while it is even successful but the problem is this might be more likely an edge case, if one of the tasks out of 100 fails it will collect one error stop, do you think that will be sufficient?

[2021-05-01 21:17] cenk1cenk2 commented on #386
You might be able to set no title to the subtasks then set the title dynamically, then set it to null while task finishes so they can disappear from the task list.

[2021-05-01 21:22] cenk1cenk2 commented on #386
I can add a flag like rerun that replicates the behavior of retry without the need for failing tomorrow if none of this give you what you need.

[2021-05-01 22:05] privatenumber commented on #386
Looks like the fake retry approach doesn't work either because retries don't render subtasks (and there doesn't seem to be an option to show it).

I'm able to accomplish something close with this, but the output is completely corrupted because the renderer isn't inherited:

[code]

----------

I looked into the source code a bit, and I'm wondering if it's possible to call something like `this.list

[2021-05-01 22:16] cenk1cenk2 commented on #386
No, it is actually not possible to run two listr at the same time because the problem is log-update takes control of the stdout and rest of the subtasks are always silent, so only the parent tasks get rendered.

Oh, because in retries it won't render the successful tasks that run before I suppose, I have to reset them to it should be a bug.

I will have a proper look at this tomorrow since it is k

[2021-05-02 04:06] privatenumber commented on #386
I did a little more exploration and I decided to take another approach.

I withdraw my feature request but feel free to keep it open if you want to accommodate the potential use-case.

Thanks so much for your fast responses and support.

[2021-05-02 15:16] cenk1cenk2 commented on #386
Thank you for the kind words, wish I could be more helpful having access to a computer at the time to prototype it. Have a fun day.

[2021-05-02 15:16] #386 closed

[2021-05-03 07:11] bokzor commented on #385
Strange. But icons frrom Oclif are working fine. See the first 'check'

[2021-05-03 11:17] cenk1cenk2 commented on #385
okay i have realized at some point i have changed it to use the unicode ones coming from nerd fonts everytime. i will add the windows defaults back if you are not using windows terminal or alacritty that may support it.

[2021-05-03 16:02] cenk1cenk2 commented on #385
Can you try the latest release, v3.8.2, and whether it solves your problem =?

[2021-05-05 01:50] #385 closed

[2021-05-05 07:46] bokzor commented on #385
Yes it works. Thanks

[2021-05-17 09:41] bokzor opened #403 "Duplicate lines"
When executing Listr2 on Windows 10 with PowerShell there are some lines that are duplicated.

Here is the code

[code]

![image](https://user-images.githubusercontent.com/3626888/118468121-bc30d080-b704-11eb-9f93-4d3fa7aea824.png)

[2021-05-17 09:44] cenk1cenk2 commented on #403
Can you check #296 and #310 and ensure that nothing writes to stdout. I will swap out this log-update yet I have still not found the time.

[2021-05-18 12:24] bokzor commented on #403
Hard to be sure what was the problem. But I think it's because of some 'console.log'.

[2021-05-18 12:24] #403 closed

[2021-05-25 07:15] CastileMan opened #409 "breaking change on `rxjs` upgrade"
Hi, we notice the `rxjs` upgrade in version `3.8.3`, this could leading to some reference error if other modules import `rxjs@6`.  A breaking change is recommended if you guys need to upgrade `rxjs` to 7.

[2021-05-25 10:05] cenk1cenk2 commented on #409
Hello @CastileMan ,

I do not get why this is a concern, it is an internal dependency and if you explicitly list `rxjs` as project dependency it will just install another version inside the folder of the `listr2`. I am planning to drop `rxjs` in upcoming major release anyways.

Can you explain why this can cause a problem for you?

[2021-05-25 10:40] CastileMan commented on #409
First, my project didn't rely on `rxjs` directly but though a third party vendor. So it doesn't make mense to explicitly list it as project dependency.
Second, `rxjs-compat` has imported `rxjs`, but `rxjs-compat` has not explicitly listed `rxjs` as project dependency eithor, so it will import the `rxjs@7` installed by `listr2`.
For these reasons, i think it might be a better decision to release a

[2021-05-25 10:47] cenk1cenk2 commented on #409
Okay. Thank you for the heads up, I just will roll it back to rxjs6 for now, since I am not really using rxjs for its features at the moment. The plan is to get rid of it completely.

[2021-05-25 11:35] #409 closed

[2021-05-25 11:37] cenk1cenk2 commented on #409
:tada: This issue has been resolved in version 3.8.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/3.8.4)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v3.8.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-25 16:13] pbelbin opened #411 "Skip using async function not usable"
Not sure if this is just me not understanding how to do it, or, whether this is a bug.

I want to use an async function to provide the `skip` response, and have the ability to pass back either a string or a boolean, not just one or the other.

Both `string | boolean` can be provided when the function is used synchronously, but, not when used asynchronously.  In that case, it seems, only one or the

[2021-05-26 23:12] pbelbin opened #414 "With large list of tasks, huge pause before tasks actually start to be processed"
I have a set of perhaps 300 tasks on one `listr` and I'm seeing a huge time delay (say, around 7 minutes) between listing out the initial set of task titles and when the task actions actually start being processed.

Digging around, it appears that by commenting out this line, the huge pause is avoided:

https://github.com/cenk1cenk2/listr2/blob/a4bae730d3056c8f316ef36d440265a148cd9233/src/listr.ts

[2021-05-27 00:03] cenk1cenk2 commented on #414
The enable task runs before everything else in a sublist as you expected. Skip works the other way around it would just process the function just before task execution.

Enabled is a empty function if no enabled is given maybe we can ditch that and just mark the task as ready if enabled for a task is not set. That should speed things up. I can not lik to it since I am currently on mobile but i gue

[2021-05-27 00:11] cenk1cenk2 commented on #414
Yeah I realized my stupidity. How it come inside the promise map is a mystery at the moment but that should not be there. I will fix it whenever I have time.

[2021-05-27 16:58] #414 closed

[2021-05-27 17:09] cenk1cenk2 commented on #414
:tada: This issue has been resolved in version 3.8.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/3.8.5)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v3.8.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-27 17:26] cenk1cenk2 commented on #411
Thank you again for the contribution and your time.

[2021-05-27 17:27] #411 closed

[2021-05-27 17:29] cenk1cenk2 commented on #411
:tada: This issue has been resolved in version 3.8.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/3.8.6)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v3.8.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-27 23:46] pbelbin commented on #414
Thank you for taking care of this! :)

[2021-05-27 23:47] pbelbin commented on #411
You're welcome.  Thank you for taking care of it! :)

[2021-06-02 06:25] phonglk opened #426 "Add to Deno ?"
Can we add this lib to deno please?
https://deno.land/x#info

[2021-06-05 22:42] sarink opened #427 "Access context after run"
Some of my tasks perform operations, like connecting to a database, and that db connection is stored on the `context`.

Regardless of if the pipeline succeeds or fails, whenever it's all finished, I need to close these connections.

I know that if run _succeeds_ , `ctx` will be the first argument `listr.run((ctx) => { ctx.db.close(); }` would work fine. But how do you handle the case where it fail

[2021-06-05 22:51] cenk1cenk2 commented on #427
Unfortunately `listr.options.ctx` is just a jumper to write the context into the local function that can be seen [here](https://github.com/cenk1cenk2/listr2/blob/50b58d13f9488980a1c146ca718c74f1b0525d60/src/listr.ts#L112). In the case of errors it is stored in the class itself that can be seen [here](https://github.com/cenk1cenk2/listr2/blob/50b58d13f9488980a1c146ca718c74f1b0525d60/src/listr.ts#L2

[2021-06-05 22:52] cenk1cenk2 commented on #426
Unfortunately, it would be hard for me to maintain a deno package.  I am open to pull requests but I can not see how this can be easily done since deno has a completely different import structure as in the golang as well as some packages that this package relies on is not ported to the deno.

[2021-06-05 23:06] cenk1cenk2 commented on #427
One quick question if you create your context object outside and pass it thorugh run or options.ctx doesnt the tasks mutate the object?

[2021-06-07 14:59] sarink commented on #427
Hmm, yes it does. Are you suggesting something like
[code]
That does work, although, the entire concept of context is kind of pointless then, isn't it? I could just keep all the context variables outside and not use listr's context, I suppose.

[2021-06-07 15:24] cenk1cenk2 commented on #427
The errors collected have a snapshot of the context object, which can be seen [here](https://github.com/cenk1cenk2/listr2/blob/50b58d13f9488980a1c146ca718c74f1b0525d60/src/interfaces/listr-error.interface.ts#L2). But it is an array since not-failing errors are also collected.

If we add a similar approach it would be like this, which is not much different than taking the context outside. But I see

[2021-06-07 15:31] sarink commented on #427
I see, so something like this could work
[code]

[2021-06-07 15:35] sarink commented on #427
I guess I'll also need to collect and re-throw the errors then, right?

[2021-06-07 15:45] cenk1cenk2 commented on #427
It might not be the first error but it should be the last, if it stops so you can `pop()` it out. The rethrowing of the error should be fine.

[code]

But I still think that creating a mutatable object is a bit more clean, even though the context is outside.

[2021-06-07 16:22] sarink commented on #427
Is there any way to keep the context on the `listr` object itself?

[2021-06-07 16:28] cenk1cenk2 commented on #427
Yes exactly. That is one of my offers if you want we csn do that too. I am just not sure would it be a unnecassary overhead or not.

[2021-06-07 16:31] sarink commented on #427
Since it's just an object _reference_, I don't think it would impact performance in any way. The context is already being held in memory, this would just be a little shortcut/pointer to it.

[2021-06-07 16:41] cenk1cenk2 commented on #427
That is also true. For recurring subtasks it should be pretty much the same. I will add this in a couple of hours. Thank you.

[2021-06-07 18:04] cenk1cenk2 commented on #427
https://listr2.kilic.dev/getting-started/the-concept-of-context#as-class-object

[2021-06-07 18:05] #427 closed

[2021-06-08 07:12] xeho91 opened #431 "Is it possible to preserve the answers from the prompt?"
First of all,

thank you very much for the hard work you did with this tool. The developer experience with types and documentation is outstanding, and I love it!

## Question

While hacking, I was trying to figure out if it would be possible to **preserve the answers from the prompts**, as they are displayed in [enquirer](https://github.com/enquirer/enquirer). I would like to have an option where

[2021-06-08 12:34] cenk1cenk2 commented on #431
Hello @xeho91,

This is a bit impossible to achieve with the current configuration due to prompt output is passed through the data channel, marks the task as being a prompt currently, and in the default renderer, it redirects the output of the task, which is the enquirer output while it is a prompt to its own line at the end of all the tasks that get overwritten with each clear ANSI sequence and a

[2021-06-16 08:07] phonglk commented on #426
I see, thank you for your response.

[2021-06-16 12:21] amacierzynski opened #433 "Disable or tail console.log under task"
Hi!

I am trying to add listr2 to an already existing project with some async tasks-based architecture.
Previously we were using simple console.log for logging.

After adding listr2 I can see that for each log which we are sending, there is and duplication of the task status above.
[code]

Is there any option to keep one line for `Run` and tail console.log below to be displayed in a max of 5 lates

[2021-06-16 12:26] cenk1cenk2 commented on #433
hello,

https://github.com/cenk1cenk2/listr2/issues/296

i track this issue on this one. but it will still take a bit of time to reach the main stream even though it is half implemented in there are numerous problems with the current tests.

[2021-06-18 11:46] jurijzahn8019 opened #435 "Prompt with verbose renderer produces redundant output"
Hi,

If using verbose renderer, every input on prompt triggers new message output.

It looks very weird.

![image](https://user-images.githubusercontent.com/44019949/122555937-35408200-d03b-11eb-95cf-6db359b00db7.png)

Is there any possibility to prevent this?

Thanks in advance :)

[2021-06-20 20:43] cenk1cenk2 commented on #435
hello @jurijzahn8019 ,
sorry for the late reply.

I tried to explain how the prompts work as in here:
https://github.com/cenk1cenk2/listr2/issues/431#issuecomment-856726726

although renderer is different in this case, this verbose renderer is mostly intended for non-tty environments, therefore actually prompts are kind of the second class citizen here. although you can not answer prompts in non-t

[2021-06-20 20:57] jurijzahn8019 commented on #435
Hi @cenk1cenk2 ,

No real problem here. I just hoped for a quick solution. :)

I have implemented my own renderer. Which is semi-verbose. I and I struggled to identify whether the output is comming from a prompt. There is a prompt property on the task and it has an untyped property "state" (found via debugger). So for me the quick and reliable solution would be an indication whether the "DATA" is

[2021-06-20 21:02] cenk1cenk2 commented on #435
Yes, actually that is the same approach you can see here:

https://github.com/cenk1cenk2/listr2/blob/6768e72bcb2de45e6a5afde6e380026d4c96e7b8/src/renderer/default.renderer.ts#L331

If you are so kind and want to share we can add the renderer to the mainstream if it's a simple renderer that streams everything except for the prompts as i imagine it to be and ofc if you want to share that, i guess th

[2021-06-21 23:17] pbelbin opened #438 "Strange behavior with many tasks"
When I have a Listr2 instance that is loaded up with a large-ish number of tasks, the output behavior is quite variable.

In the case where there's a reasonably deep terminal window, it has a phase of behavior where it 'eats' the oldest lines of text.

[see here](https://user-images.githubusercontent.com/10079005/122838975-c3776b00-d2bc-11eb-9eff-831feb879cb9.mp4)

On the other hand, if the availa

[2021-06-23 15:43] cenk1cenk2 commented on #435
Thank you for the pull request @jurijzahn8019. I will embed it hopefully this weekend. Thank you so much for your time on this.

Now I really understand the issue with the prompt since you track EOL to keep the last message. Maybe we can do something about it.

As you discussed we can make stdout, stderr selectable but for CI environments maybe it is better to keep it this way.

[2021-06-23 15:46] cenk1cenk2 commented on #438
Hello @pbelbin ,

Thank you for this issue. This has been discussed [here](https://github.com/cenk1cenk2/listr2/issues/296). This is mostly a problem of how we can handle the terminal and have no proper access to the lines that are not inside the seen window. So this deleting behavior of the lines is somewhat related to the underlying library `log-update`.

I plan to swap it out but still could no

[2021-07-02 03:17] QUERY-GANI opened #439 "Question: is there a way so that if a condition is not met then repeat the previous task?"
Hello, I want to ask, is there a way so that when a condition is not met then repeat the previous task?

here is my code:
[code]

i want try calling previous task in Confirmation task when the toggle input value is false and continue if toggle input value is true
but I don't know how to do it, I've tried reading in the documentation but it doesn't seem to exist

[2021-07-07 18:54] cenk1cenk2 commented on #439
Hello @QUERY-GANI ,

Sorry for the late answer. There is no native way to do this but you can do it the javascript way by exporting the task to a const and just adding it to the list. Something like below.

[code]

I also found an example where I do a similar kind of thing [here](https://github.com/cenk1cenk2/boilerplate-oclif/blob/54903c55246859ddd5820f98b6955c2011f79721/packages/common/src/utils

[2021-07-07 18:54] #439 closed

[2021-07-20 13:06] ejnshtein opened #442 "Many tasks + heavy background processes running = new epileptic is born"
Hi guys!

This library is very cool, we're using it in our [CMA project](https://github.com/scandipwa/create-magento-app) to set up and run Magento 2 projects in a single command.

But I want to report, that we have "flashing" problems in a console when our program is running.
This problem appears everywhere: in VSCode, PHPStorm, ITerm2, Konsole and so on.

https://user-images.githubusercontent.co

[2021-07-21 14:06] #426 closed

[2021-07-21 14:11] cenk1cenk2 commented on #442
Hello @ejnshtein,

Thank you for the kind words. This is unfortunately pretty normal because it tries to update the renderer every 100ms or whenever a task changes state or gives output etc. This flickering can occur where it does not get enough CPU time and a task updates too frequently.

The solution to this will be to swap out the underlying library of `log-update` for `stdout-update`, which I

[2021-07-21 14:23] ejnshtein commented on #442
That's good to hear!
We will try the beta version as well.

Thanks for your work!

[2021-07-21 14:27] ejnshtein commented on #442
Indeed, beta is not flickering, but it doesn't update properly the console. At least something is working :smile:

![Screenshot_20210721_172542](https://user-images.githubusercontent.com/18352350/126505385-62e3c879-39ad-40c6-8efe-c931d06103fc.png)

Okay, will be waiting for the new major version! Good luck!

[2021-07-22 18:40] cenk1cenk2 commented on #442
I will be closing this issue in favor of #296 . Feel free to reopen it any time. But the problem is acknowledged.

[2021-07-22 18:40] #442 closed

[2021-07-22 18:40] cenk1cenk2 commented on #438
I will be closing this issue in favor of #296 . Feel free to reopen it any time. But the problem is acknowledged.

[2021-07-22 18:40] #438 closed

[2021-07-22 18:41] cenk1cenk2 commented on #435
Simple renderer is now available, thanks to your effort.

[2021-07-22 18:41] #435 closed

[2021-07-22 18:41] cenk1cenk2 commented on #433
I will be closing this issue in favor of #296 . Feel free to reopen it any time. But the problem is acknowledged.

[2021-07-22 18:41] #433 closed

[2021-07-22 18:54] jurijzahn8019 commented on #435
Great! Thank You!

[2021-07-22 20:36] #431 closed

[2021-07-28 05:38] EvanPurkhiser opened #450 "Pause output in the renderer"
I have a use case where I would like to start some tasks, but would like to immediately pause any output to the terminal. Specifically because while the tasks are executing, I would like to open the users `$EDITOR` with `spawn`, which means I need the executed editor process to control stdout.

Without pausing the listr output, I the editor interface becomes corrupted.

What I would prefer is if I

[2021-07-28 10:54] cenk1cenk2 commented on #450
Hello @EvanPurkhiser ,

I guess this is not easily possible, neither swapping the renderers on runtime nor pausing the execution and unhooking stdout.

But for an editor, only you can try the same approach I use which successfully launches the default editor of the user.

Example can be found here:
https://github.com/cenk1cenk2/cz-cc/blob/3905765112ae70c2d4e08190bbab2eb938f87771/src/engine.js#L139

[2021-08-01 19:41] acidjazz opened #453 "Observable tasks skip entirely with no errors"
I have this odd issue in some environments where any task that returns an Observable skips that task completely w/out any errors.

Any tips or recommendations on how I should approach this issue? if I run the tasks inside the Observable separately it works perfectly fine.

[2021-08-01 19:43] cenk1cenk2 commented on #453
hello @acidjazz ,

can you give a bit more clearer explanation or provide a reproducible example?

[2021-08-01 20:49] acidjazz commented on #453
@cenk1cenk2 It's a very difficult one still - it's only certain versions of node - only duplicatable on OSX so far - all tasks that return an Observable Just simply complete w/out running any code in the observable.

So far its duplicatable by installing `v0.1.27` of the tool I use listr2 with - fume-cli:

https://github.com/fumeapp/fume-cli

Steps to reproduce

1. Create a fume account (https://f

[2021-08-01 21:08] cenk1cenk2 commented on #453
I just have one idea which is rxjs 7 vs rxjs 6. I wanted to drop rxjs from this repo so I have not updated it. And somebody using it as a dependency also did not wanted that upgrade. I said okay since my plan is to remove that unnessary dependency.

[2021-08-01 21:47] mikenikles commented on #368
It's been a while 😄, but I'm back and spend more time on my project.

I tried the new simple renderer to see if it supports my use case. It kind of does, but requires me to hit Enter twice one I'm interacting with the prompts from the CLI I start with `execa`. Also, when I reach the last listr task, the terminal hangs and I have to cancel it with CTRL + C.

If anyone has an idea on how to get this

[2021-08-02 21:28] acidjazz commented on #453
@cenk1cenk2 Is it better maybe to then just use `task.title =` instead of having the observable report back? is there any other way to finish a task with a callback?

[2021-08-02 21:40] cenk1cenk2 commented on #453
`observer.complete()` is the actual callback as in the observable but I have seen that part you have already covered, so me saying this shows how clueless I am at the moment, forgive me. But other than that there is no direct callback from `task` to finalize the task itself. I do not get the question about `task.title`, I guess you can still access that stuff on the observable but it has not much

[2021-08-03 07:47] acidjazz commented on #453
Basically I was using observables to update the title and have a task end via a callback, and since I've been having so many issues with it - My question now is: Is it at all possible to end a task via a callback w/out using observables?

[2021-08-03 07:55] cenk1cenk2 commented on #453
If you are not using observables yes. But you dont need a callback at all if the function finalizes it will end the task and can change the title via task wrapper.

[2021-08-03 08:17] acidjazz commented on #453
@cenk1cenk2 Are you sure? even if i'm using async tasks that fire off a complete when they're done, like this:

https://github.com/fumeapp/fume-cli/blob/6c9aa9c8ce7d1cfd8cb0789304c6cb797b58a716/src/lib/deploytasks.ts#L421-L446

How then does it know it's complete?

[2021-08-03 08:24] cenk1cenk2 commented on #453
This is how it handles different cases https://github.com/cenk1cenk2/listr2/blob/1b62065cbae84797a33abfb91884da999cc46644/src/lib/task.ts#L206 . Just awaits it, if it is a function. So, yes you don't have to use observables, I usually use async functions all the time

[2021-08-03 08:35] acidjazz commented on #453
OK: so re-factoring of the upload task, it doesn't seem to wait for `S3.ManagedUpload`

[code]

What am i doing wrong here?

[2021-08-03 08:38] acidjazz commented on #453
Same with the async task I was using with observers:

[code]

[2021-08-03 09:02] acidjazz commented on #453
BTW in reference to this version where I can update the title based on progress, this currently works:

[code]
But I don't see how I can specify these callbacks any more.

[2021-08-03 20:05] acidjazz commented on #453
Figured id out - plain old promises!

[code]

[2021-08-05 19:11] jayree opened #459 "task.err is empty"
Hi, with this example

[code]

shouldn't be `task.err` in this case `['I have failed [0]','I have failed [1]']`?

[2021-08-31 14:36] cenk1cenk2 commented on #453
Thank you very much. Yeah, the advised way is to use promises as possible. For keeping the compatibility with the original listr and since it does already have rxjs embedded for the library, observables are just an option.

[2021-08-31 14:36] #453 closed

[2021-08-31 14:38] cenk1cenk2 commented on #450
I will close this since, I have no plan to implement it by myself, with the plans that changing the render output fully to some other library. If a pull request comes after that, I will happily integrate that function. But the problem is this is not easily implementable.

[2021-08-31 14:38] #450 closed

[2021-09-02 14:41] RomainGaillardLesEchos opened #493 "Update RXJS dependency to version 7.X"
Hi,

We use your npm package in our `monorepo` code base, and we facing the following issue:

All others npm packages use `rxjs` up to `7.x` in the code base and your package use `6.6.7` version.

When we make an install of npm packages from root, the wrong version of `rxjs` is installed into root `node_modules` and local `node_modules` are installed inside monorepo packages.

So, it force us to m

[2021-09-02 16:18] cenk1cenk2 commented on #493
Hello @RomainGaillardLesEchos ,

This has been a long-running plague of this repository but I will whole together want to drop rxjs, especially because of its bundle size. With the v4 that has been still in the works and half done in the last couple of months, I converted it in to a more event-emitter-based approach. Because there was also a request before this one that did want me to roll back to

[2021-09-06 15:52] from-nibly opened #497 "Logging doesn't display the last log statement."
when calling logger.<level>('message'); the last line you log doesn't appear in the output.

[code]

output

[code]

[2021-09-06 16:01] #497 closed

[2021-09-06 16:24] from-nibly commented on #497
So I tried using `task.output = 'foobar';` but that doesn't seem to work...

[code]

output

[code]

Is the output picked up via an async process?

[2021-09-06 16:27] cenk1cenk2 commented on #497
Yes, but it collapses after the task finishes. You can have the `persistentOutput` flag to keep the output after that particular task finishes as seen [here](https://listr2.kilic.dev/general-usage/showing-output#default-renderer).

[2021-09-06 16:27] cenk1cenk2 commented on #497
But it will always have the latest output, so the idea here is to not have proper logging but have something to show the user what the current status of that action is.

[2021-09-06 16:27] from-nibly commented on #497
:man_facepalming: Just realized I wasn't using the task arg I was using the context arg.

[2021-09-06 16:28] cenk1cenk2 commented on #497
Anyways in the example you have provided, it will just show it momentarily then collapse it off.

[2021-09-06 16:30] from-nibly commented on #497
Also just to be clear though. I was using the first positional argument which is the ctx argument not the task argument so I was actually just adding a string to the output property of the context, not setting the output to something.

[2021-09-06 22:21] cenk1cenk2 commented on #459
Thank you @jayree for reporting this issue.

I have given it a try and the error collection mechanism was not working as advertised, especially for the ones that have a subtask with `exitOnError` set to `false`.

I have already improved upon it a bit since it now has different kinds of errors as well.

Will go over the branch again with a clear head soon then update the documentation and merge it

[2021-09-08 07:49] PalmMinecraft opened #501 "Still getting duplicated text with beta version"
Hello,

So I've been using listr2 for 3 days now and I noticed that it has duplicated lines.
Searched in issues and found that it was fixed in the beta version, I installed the beta version and it is still happening

Version 4.0.0-beta.3 as seen here:
![image](https://user-images.githubusercontent.com/67689562/132468453-18823ab7-9421-4f47-8e51-cb36ec4584ed.png)

[2021-09-10 04:35] Palm2570Playz commented on #501
Sorry for closing and reopening, just realized the issue wasn't the timing but this always happen when I have subtasks inside another subtask instead

[2021-09-12 12:18] #459 closed

[2021-09-12 12:20] cenk1cenk2 commented on #501
Hello @Palm2570Playz ,

The beta version is currently too much out of date, so I do not even know what could be the problem.

But my educated guess as always for this duplicated stuff is something is trying to write to stdout. As I always discuss in other issues if I can swap the library of the terminal renderer, this should be fixed. But the problem is beta version was not a hundred percent worki

[2021-09-12 12:22] cenk1cenk2 commented on #459
:tada: This issue has been resolved in version 3.12.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/3.12.0)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v3.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-12 12:47] cenk1cenk2 commented on #459
I have overhauled this a bit to make more sense with the latest additions and pinpoint where the error is coming from.

Also updated the documentation [here](https://listr2.kilic.dev/general-usage/collecting-errors).

[2021-09-29 12:15] shumkov opened #538 "Converting circular structure to JSON error"
Hello,

First of all, thank you for the great product. It's pleasure to create fancy CLI output using it.

In recent versions, we faced a problem when an error happening in a listr task. If context contains objects with circular reference, another error throws by `JSON.stringify`:  `Converting circular structure to JSON`.

It goes from `cloneObject` function:
[code]

I would recommend to use lodas

[2021-09-30 16:29] cenk1cenk2 commented on #538
Yeah, makes a lot of sense that would cause problems.

I would rather drop that fully and not include the task in the error.

[2021-10-04 13:06] shumkov commented on #538
In this case, it will be harder to figure out the context. I mean which task is failed and so on. But I'm not insisting, you decide ;)

[2021-10-28 09:17] nettenm opened #569 "Can't resolve 'v8' in node_modules\listr2\dist\utils"
Hi,
i am trying to install cypress v8.7.0 where listr2 is used and i get following error:
[code]

It seems that v8 can't be loaded and is not in the dist/utils path available.

My System:
Cypress v8.7.0
npm: 6.14.15
node: 14.18.1
Windows 10

[2021-10-29 09:34] jurijzahn8019 opened #571 "v8 serialize breaks if there is a function in context"
Hi @cenk1cenk2,

v8 serializer crashes if there is function instance in the context:

[code]

What about to use some third-party cloner?

[code]

Output

[code]

[2021-11-01 18:40] ejnshtein commented on #538
Hi!

We have functions that allow modifying tasks inside.
Functions return task bodies (so object with `title`, `task`, e.t.c.)

And so this error comes up.

[2021-11-02 17:33] #538 closed

[2021-11-02 17:33] #569 closed

[2021-11-02 17:33] #571 closed

[2021-11-02 17:39] cenk1cenk2 commented on #571
:tada: This issue has been resolved in version 3.13.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/3.13.2)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v3.13.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-02 17:39] cenk1cenk2 commented on #569
:tada: This issue has been resolved in version 3.13.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/3.13.2)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v3.13.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-02 17:39] cenk1cenk2 commented on #538
:tada: This issue has been resolved in version 3.13.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/3.13.2)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v3.13.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-02 17:44] #501 closed

[2021-11-02 17:55] #493 closed

[2021-11-02 17:56] cenk1cenk2 commented on #493
:tada: This issue has been resolved in version 3.13.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/3.13.3)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v3.13.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-15 20:12] micalevisk opened #589 "Mark `enquirer` as a optional peer dependency"
Hi!

I've been using https://github.com/okonet/lint-staged CLI and they have `listr2` as a dependency. But they don't need `enquirer` (for whatever reason), so `lint-staged` users will get **warnings** like `"lint-staged > listr2@3.13.3" has unmet peer dependency "enquirer@>= 2.3.0 < 3"`.
I do know we can ignore those warnings tho

But maybe you can mark this peer dependency as optional as `listr2

[2021-11-15 20:16] cenk1cenk2 commented on #589
Hello @micalevisk ,
That would be totally fine to add so I will do that. Thanks for the heads up.

It will work fine as being not installed as long as the underlying package does not use the prompts since it is dynamically imported.

[2021-11-17 12:18] cenk1cenk2 commented on #589
:tada: This issue has been resolved in version 3.13.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/3.13.4)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v3.13.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-22 22:03] marcelmeulemans opened #596 "Context clone during error collection is unreasonable slow with large contexts"
After an upgrade to 3.13.4 I noticed that my builds (github actions) were timing out whenever one of my listr tasks fails. After some investigation I have tracked it down to the use of the clone library in the `cloneObject` function. My context object is fairly large because amongst other things I am storing the results of a webpack complilation, which can easily be multiple megabytes in size, in

[2021-11-22 23:23] cenk1cenk2 commented on #596
Closed with pr thanks

[2021-11-22 23:23] #596 closed

[2021-11-26 13:57] Baune8D opened #600 "Version 3.13.2 and later results in application crash and memory leaks"
Reproducible repository here: https://github.com/Baune8D/listr2-clone-failure

`v3.13.5` memory usage spins out of control and the application crashes as more and more tasks fail.
`v3.13.2` no issues with memory usage, but the application gets completely unresponsive as more and more tasks fails.
`v3.13.1` works as it should, no problems here at all.

I guess this is related to cloning introduced

[2021-11-26 23:23] cenk1cenk2 commented on #600
Hello @Baune8D ,

Thank you so much for this exclusive report. Yes, it makes sense to memory goes crazy for tasks like this because it copies a lot of errors in the memory over and over again with each failure to the error caching mechanism. What I want to do is make the error collection optional. If somebody is not using it should be definitely disabled.

So that would be my plan what do you thin

[2021-11-26 23:30] cenk1cenk2 commented on #600
I do also think that trying to copy circular variables is the cause of the memory leak, so I could just put that in the option because there were people that did want that.

[2021-11-26 23:52] Baune8D commented on #600
Sound good to me. Im not really sure what the cloning solves in this case, our application works just fine with v3.13.1, so a switch to revert to something like that behavour would be sufficient for our use case 🙂

[2021-12-30 09:14] EvgenBabenko opened #611 "Incorect behaviour with Promise.race"
Hi, i have 2 promices (one with resolve after 2000ms, second with reject after 5000ms), but after resolved promise, listr is waiting for second promise, Process just stucking for 3000ms

listr2 - v3.11.0

[code]

[2021-12-30 13:08] cenk1cenk2 commented on #611
Hey @EvgenBabenko ,
That seems wierd because task is only a function that is called with passing the context and task wrapper in so that behaviour does not make much sense to me at this moment. Do you have any leads?

[2021-12-30 14:19] EvgenBabenko commented on #611
I know that is weird, but after resolving 1 promise, the second promise has blocked full process
It can be more noticeble, if u change delay from 5000ms for example to 50_000ms

[2021-12-30 14:46] EvgenBabenko commented on #611
sorry, the problem related to nodejs
https://github.com/nodejs/node/issues/37683

[2021-12-30 14:46] #611 closed

[2021-12-30 15:44] cenk1cenk2 commented on #611
Oh, that is okay. I am glad you have worked it out.

[2022-01-04 00:16] realStandal opened #613 "Allow overriding default renderer's "icons""
I'm wanting to override the "icons" used by the `DefaultRenderer` (the glyphs provided by `figures`). The defaults don't fit others in my project, and I'm all for consistency.

I've gotten by being able to extend the DefaultRenderer then override the `getSymbol` method. TypeScript complains (changing that method's type to `protected` would fix that error) - but I know the compiled JavaScript is ok

[2022-01-04 00:25] cenk1cenk2 commented on #613
This looks like a good idea for having consistent projects. I would really like that, I might give it a go this weekend but these days I am pretty swamped with other projects.

[2022-01-06 15:24] #600 closed

[2022-01-06 16:23] cenk1cenk2 commented on #600
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/4.0.0)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-24 14:04] sambunting opened #628 "Property 'subscribe' does not exist on type 'Task<any, typeof VerboseRenderer>'"
I'm trying to create a custom renderer by subscribing to updates from each individual task (A lot like how the [verbose renderer](https://github.com/cenk1cenk2/listr2/blob/master/src/renderer/verbose.renderer.ts) works).

However, I'm getting a type error of `Property 'subscribe' does not exist on type 'Task<any, typeof VerboseRenderer>'.`

So far, the only difference I have is that I'm using `Lis

[2022-01-24 18:51] cenk1cenk2 commented on #628
It's interesting, it just was exposed with another name to keep the compatibility with the older versions. I will investigate and get back to you but I guess earliest will be the weekend unfortunately,

[2022-01-24 19:35] sambunting commented on #628
That would me massively appreciated! Thank you!

[2022-01-31 19:13] cenk1cenk2 commented on #628
Can you try the latest version, it just should export the types now.

If it is not solved nor a problem for you can you share your custom renderer.

[2022-01-31 19:34] cenk1cenk2 commented on #628
Okay, if this is in improvement it might be also related to the build methodology with tsup. Please give me feedback if it still fails because subscribe should be there since it extends Subject from rxjs.

[2022-01-31 19:37] sambunting commented on #628
Will do! Thank you for taking a look at it! 😃

[2022-01-31 19:53] sambunting commented on #628
_Actually_.... I think I've found the issue.... My version of VS Code is out of date quite a bit - and the ESLint Extension doesn't seem to be working all that well with the latest releases of ESLint.

Updating VS Code to the latest version of 1.63 has made the linting errors go away!

From my case - everything is working great, and this ticket is closed - thank you so much for looking into it, I

[2022-01-31 19:53] #628 closed

[2022-01-31 21:26] cenk1cenk2 commented on #628
Yey that is great news. Good to hear. Cheers.

[2022-02-03 11:03] queengooborg opened #631 "Dynamic require of "enquirer" is not supported"
In a recent update to `listr2` (or `enquirer`), I had noticed that `task.prompt` would now crash with an error saying that "Enquirer is a peer dependency that must be installed separately."  This error had confused me, however, as I definitely had Enquirer installed.  Instead, I did a bit of debugging to figure out what exactly the underlying error was, and found that there was an error dynamicall

[2022-02-03 11:35] cenk1cenk2 commented on #631
Hey @queengooborg ,

Thanks for the heads up. If this is a problem with ESM, I will check it in a mock ESM package. I guess I currently only use the `cjs` part of it.

You can just use the `injectWrapper.enquirer` key to pass it in for now, which should pass your created instance of `enquirer` and pipe it through the renderer. Else as you said it would cause rendering problems since two things are

[2022-02-07 11:21] AndrewLeedham opened #632 "rxjs types used in TypeScript declaration but aren't shipped as a dependency"
Hi, after upgrading to TypeScript@next I started getting the following error:
[code]
(Not sure what changed in TypeScript@next that would cause this, but the error seems legitimate)
It would seem to me that `index.d.ts` relies on `rxjs` typings and `@types/rxjs` is not included as a dependency. I can workaround it by installing `@types/rxjs` myself, but it seems like it should be added to the `lis

[2022-02-07 11:25] AndrewLeedham commented on #632
Actually upon further investigation `@types/rxjs` does not exist, seems like an issue with how `rxjs` types are resolved in an ESM environment.

[2022-02-07 11:25] #632 closed

[2022-02-07 12:41] cenk1cenk2 commented on #632
Yes, rxjs is a Typescript project so it would be weird if it did not include the types. Do you have the problem still or is it solved by some configuration?

[2022-02-07 14:03] AndrewLeedham commented on #632
Looks like ESM looks for types differently. Potentially an issue on rxjs's end, so I'll raise an issue over there.

[2022-03-03 14:23] ramsesgarate opened #638 "The title of the task is repeated"
Hello guys, I hope you are well, the truth is that I don't know much about why this may be happening.

I discovered the library and I wanted to play with it add to a project that I had previously, however, when the task is executed, it starts throwing some numbers and the title of the task continuously until it is finished, how can I solve this?
The terminal I am using is git bash, Strangely in th

[2022-03-05 13:05] cenk1cenk2 commented on #638
Hey @ramsesgarate ,

To refresh the screen on every render the renderer sends an ANSI control character to delete the line first. This happens around every 100ms so that is why you see it as spam.

There would be unfortunately no solution to this if the underlying terminal does not implement this feature.

In non-TTY environments, the renderer will fallback to text-mode but since I suppose git bas

[2022-03-05 13:05] #638 closed

[2022-03-06 15:26] shlroland opened #639 "have some problems about pnpm install"
When I use this code to install some deps with pnpm, package.json always had been added one package, another package was replaced

[code]

[2022-03-06 15:35] cenk1cenk2 commented on #639
Sorry I do not understand what you mean can you explain further?

[2022-03-07 00:54] shlroland commented on #639
Once I execute the code, only one of packages which are contained in arr `['rimraf', 'qs']` can be added in the devDependencies list of package.json

[2022-03-07 00:57] cenk1cenk2 commented on #639
Probably running it concurrently is your problem.

[2022-03-07 03:15] shlroland commented on #639
okay，thx

[2022-03-07 03:15] #639 closed

[2022-03-09 18:53] ComputerWolf opened #641 "Output is repeated if concurrent tasks complete after error"
If I have multiple concurrent tasks and one of them returns an error but I am not exiting on errors at the root, then the display gets repeated when another of the promises resolves either success or fail.

Example: https://replit.com/@ComputerWolf/listr2289

I would expect the output to ignore any of the additional promises that are returned after an error.

[2022-03-09 19:29] cenk1cenk2 commented on #641
hey @ComputerWolf

i assume that something else is trying to write to stdout and it breaks the log update. can you run with verbose renderer and check whether that is the case.

[2022-03-09 21:14] ComputerWolf commented on #641
@cenk1cenk2 I did look into that as I know it can cause issues. However, if you look at the example and use the verbose renderer you can see that the 2 items return after the 1st promise has failed even though exitOnError is set to true for the concurrent tasks.

![image](https://user-images.githubusercontent.com/207052/157536969-ea082be5-9a8d-441c-92a9-9260309497cd.png)

[2022-03-09 21:56] cenk1cenk2 commented on #641
Hey thanks for the info.

I will take a look at that but unfortunetly it would not be anytime soon due to my workload. Again thank you for the replicate it that should really help.

[2022-03-10 09:27] monsterboom opened #642 "fix: reset title from null，replace the previous line of output"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Here is the diff that solved my problem:

[code]

Scene:
I want to console.log something in the task. I found that when I set task.tittle to null string, console.log can output to terminal. But when I set task.tittle back to a not null value，the function logUpdate will output the this.createRender() and replace the previous line of output.

[2022-03-13 03:50] xaviermonin commented on #641
I have the same problem, it occurs in concurrent sub tasks.

[2022-03-23 09:34] cenk1cenk2 commented on #642
Hello @monsterboom,

This is not possible due to unfortunately how that `log-update` is implemented.

This might fix the exact case you are on but it will definitely break others.

The idea was to ditch the `log-update` with `stdout-update` but I have not yet finished it. So `log-update` hooks to the stdout and requires full control to draw on it, since it keeps the data like lines written and lin

[2022-03-30 20:18] cfanoulis opened #643 "Dynamically creating tasks"
Ello! I have a task that firsts captures a list of URLs, then another tasks that would use said list of URLs to dynamically create a list of tasks to run. Is that possible? From my limited testing, the following:

<details>
<summary>Show code:</summary>
[code]
</details>

doesn't dynamically create tasks

[2022-03-30 20:26] cenk1cenk2 commented on #643
Hi @cfanoulis ,
Unfortunetly I will be away for a while with no real way to debug this.

You can checkout the code from below for generating the tasks dynamically in the meantime. Hope it helos
https://github.com/tailoredmedia/backend-nx-skeleton/blob/63e0ead4662039c6eb356ad392b7e1b1bd4f1209/packages/brownie/src/helpers/node.helper.ts#L19

[2022-03-30 20:31] cenk1cenk2 commented on #643
I see that you are not returning the task.newListr as result. That can be your problem if I can read it through the phone correctly.

[2022-04-05 09:13] alopix commented on #631
Just encountered the same issue and can confirm that it seems to be an issue when using ESM (since it worked before, when using CJS). Your suggestion with the listr options `injectWrapper.enquirer` works, thanks.

[2022-04-15 14:47] TonySherman opened #645 "Is there a way to return a nonzero exit code if a task fails?"
Basically what the title says.

If a task fails, I would like the exit code to be nonzero so it will fail a pipeline build.

Currently if a task fails, the exit code is 0 and in a cicd pipeline, this appears to pass even if the task is necessary to complete.

[2022-04-16 15:12] cenk1cenk2 commented on #645
Hey @TonySherman,

This can easily be done through JavaScript itself. The Task list `run` command will return a promise and will throw if something bad happens so you can just catch the error and quit manually.

Something like:

[code]

[2022-04-16 15:12] #645 closed

[2022-04-16 15:14] TonySherman commented on #645
Thanks for the quick response!

[2022-04-25 14:44] starpit commented on #641
I see this, too. I have narrowed it to whether i rethrow the underlying error or not. If I don't, then I see no strange repeats. If I do, I do see strange repeats. This indicates that there is no problem with the underlying task sending data to stdout or stderr.

I have tried lots of combinations of "collectErrors: false" and "showErrorMessage: false".

fwiw, in our case, we have a task with a sub

[2022-04-27 18:42] starpit opened #646 "Feature request: showTimer only for sufficiently long tasks?"
It would be nice to do something similar to mocha and other testing rigs, in distinguishing long- and short-running tasks. Right now `listr2` always adds the timer, if `showTimer: true`

Suggestion: allow the `showTimer` value to be a number, which indicates the threshold below which the timer will not be shown.

Stretch goal: allow levels of timers: < level1 no output; < level 2 chalk.dim; < leve

[2022-04-27 18:52] cenk1cenk2 commented on #646
It can be done through making showTimer a boolean or a function that takes in a current task time as parameter or smt like that. This can be added to the default.renderer.ts file.

But unfortunetly these days for me are pretty busy and it has been like that for a while so I would close the open issues before adding any new features but would glady accept a pull request if you have time to give it

[2022-04-27 18:53] starpit commented on #646
Ok great, i may look into it over the weekend

[2022-04-30 15:55] starpit opened #647 "bottomBar does not faithfully reflect stdout of subprocesses, e.g. extra newlines"
I think there is an odd couple of issues in the way listr2 handles task output, maybe just to the bottom bar. The main issue is extra newlines. I would think that the point of the bottomBar is to give a blank canvas to present unadulterated output from a subprocess?

One proposal would be to add a `bottomBarRaw: true` option?

## Primary issue: Extra Blank Lines

Perhaps this was the intention beh

[2022-06-09 14:10] iiroj opened #651 "Feature Request: use custom console implementation"
For [lint-staged](https://github.com/okonet/lint-staged), I would like the possibility of supplying a custom `console` implementation, to be used for the `simple` and `verbose` loggers (probably not the `default`, since the use-case probably is not relevant with TTY renderers).

This is mainly so that _lint-staged_'s Node.js API can fully capture all logs when using it like `await lintStaged({ log

[2022-06-09 22:34] cenk1cenk2 commented on #651
Hey @iiroj ,

Nice to talk with you again.

I am actually up for this kind of change as you have suggested.

In order:
1. This can easily be added to put your custom implementation or logic, in between where you can process the data further before sending it to the console.
2. I suppose, I have not added this since the usual logger does not need any options.
3. Again this would be very nice becaus

[2022-06-09 22:43] cenk1cenk2 commented on #647
Hey @starpit,

Yes, there are some irregularities in both the mindset and the implementation of the bottom bar output.

I have initially designed it to be a someplace that can handle multiple outputs from parallel tasks.

Something like you do an install operation in 10 async tasks, you do not really care for the output but a stream of output could be nice in that it visualizes what it is actually

[2022-06-09 22:45] cenk1cenk2 commented on #643
I would close this issue, since I do think it is solved after returning the task itself.

[2022-06-09 22:45] #643 closed

[2022-06-09 22:46] cenk1cenk2 commented on #642
I would close this issue since it is not possible to interact with the console while ´log-update´ is running, maybe if we switch to ´stdout-update´ it would solve this since it logs everything out after the render finishes.

[2022-06-09 22:46] #642 closed

[2022-06-09 22:48] cenk1cenk2 commented on #641
This is a hundred percent true, it does not actually skip the concurrent tasks.

This comes from the original and I sincerely like it since you do not have to explicitly handle your errors.

[2022-06-09 22:51] cenk1cenk2 commented on #235
I guess this will never get merged to the upstream library.

[2022-06-09 23:14] smithki commented on #235
Another option is to pull those (correct) typings into `listr2` and use them directly. I've done this myself in the past: https://github.com/smithki/zombi/blob/master/packages/zombi/src/types/enquirer.ts

Or... maybe it's time for _yet another_ Node.js prompt package. Not a single one has satisfactory TypeScript support in my experience.

[2022-08-29 12:06] Baune8D opened #653 "Compile errors when using TypeScript 4.8.2"
Im seeing the following errors when updating to TypeScript 4.8.2. Works fine with TypeScript 4.7.4

<img width="1526" alt="Screenshot 2022-08-29 at 14 04 59" src="https://user-images.githubusercontent.com/30204280/187197351-5e50b0ff-468f-4b9c-85e3-6c62a5d8d935.png">

[2022-09-05 14:37] #653 closed

[2022-09-05 14:38] cenk1cenk2 commented on #653
Hey @Baune8D,

Thank you for the bug report, this issue should be gone with the latest release.

Have a very nice day.

[2022-09-05 14:48] cenk1cenk2 commented on #653
:tada: This issue has been resolved in version 5.0.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/5.0.4)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v5.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-05 15:11] #631 closed

[2022-09-05 15:25] cenk1cenk2 commented on #631
:tada: This issue has been resolved in version 5.0.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/listr2/v/5.0.5)
- [GitHub release](https://github.com/cenk1cenk2/listr2/releases/tag/v5.0.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-10 21:01] Josh-Walker-GM opened #657 "Enquirer prompt name value and passing custom instance to children"
**Confirm correct usage**
I have been trying to use a custom instance of `enquirer` for testing needs. I think I have now understood this needs to be given via a
[code]
rather than a
[code]
but it would be great if you could confirm this? I have confirmed this works for me by adding a listener to `customEnquirer.on('prompt', ...)` and seeing that it fires for the first case but not the second.

I

[2022-10-10 21:12] cenk1cenk2 commented on #657
Hey sorry I am on the phone but as a quick reply I suppose this would be better than to keep you waiting.

injectWrapper part is correct since enquirer can be used with any of the renderers and it injects itself to the task wrapper. I suppose there is no clear documentation on this but I am trying to write a new documentation website for listr but could not find any time lately.

The default thing

[2022-10-10 21:18] Josh-Walker-GM commented on #657
Thanks so much for the quick reply, very much appreciated!

Okay, thanks for confirming where my thoughts are correct and incorrect. I should be able to work around that design decision of the `name` field by using the default value field instead (`default`). The propagation to the children is only really for neatness of the code so it's not a blocker or anything for me.

[2022-10-10 21:19] cenk1cenk2 commented on #657
All cool then have a nice day @Josh-Walker-GM. You can append to this issue if you find any limitations. There should be some tests for enquirer in the project tests folder.

[2022-10-10 21:19] #657 closed

[2022-10-15 21:42] thilllon opened #658 "how to change spinner style?"
It is my first time to use `listr2` and after struggling with documents, I can't find how to change spinner style.
Is there any way to change the spinner style?
https://listr2.kilic.dev/renderers/introduction

Thanks

[2022-10-15 21:45] cenk1cenk2 commented on #658
Unfortunetly this is not possible at this point but could easily be implemented through getting it as a renderer option.

 https://github.com/cenk1cenk2/listr2/blob/37244055fea0f45d9d5f419e7203ff2cb2815695/src/renderer/default.renderer.ts#L162

I suppose coloring is a different case which should be thought about.

[2022-10-16 17:17] #658 closed

[2022-10-18 21:36] Josh-Walker-GM commented on #296
@cenk1cenk2 Do you mind if I ask what is the current progress of getting this moved out of beta and in to the main version? Is there something else holding back this switch to `stdout-update`? I would be brilliant to get this fix out in the wild 😄!

[2022-10-26 12:00] cenk1cenk2 commented on #296
Hello @Josh-Walker-GM,

Unfortunately, that solution has its own problems with making it compatible with the current form of the library.

But the case is since node.js can not access more than the terminal height, I suppose it might be no solution for the initial issue mentioned here but a limitation of how terminals handle themselves if I am not missing something.